<ion-view hide-nav-bar="true" class="bg-lightgrey">

    <ion-header-bar style="background-color: transparent">
        <div class="row text-center">
            <div class="col font-thin text-large dark" ui-sref="tabs.news" style="color:gray;">Cancel</div>
            <div class="col font-thin text-large balanced bl-grey profile" style="color:green;" ng-if="!post.created" ng-click="createEvent()">Send</div>
            <div class="col font-thin text-large balanced bl-grey profile" style="color:green;" ng-if="post.created" ng-click="updateEvent()">Send</div>
        </div>
    </ion-header-bar>

  <ion-content class="has-header">

    <div class="event-form">
        <div class="list edit padding-horizontal padding-vertical" style="padding:0">
          <label class="item item-input event__input" ng-if="!post.photo">
            <div class="card image" style="background:transparent !important; box-shadow:none;margin: 0" ng-click="uploadEventPhoto()">
                  <div class="item item-image">
                    <img class="plan_picture" ng-src = "img/event-photo.jpg" style = "filter: brightness(96%) grayscale(10%);; -webkit-filter: brightness(96%) grayscale(10%);" name = "photo" ng-model="photo">
                  </div>
              </div>
              <a class="btn-floating btn-small waves-effect waves-light lighten-1" style="top: -113px;z-index: 5;left: 5px;background-color: white;width:42px;height:42px;" ng-click="uploadEventPhoto()">
                <i class="icons ion-ios-camera" style="color: black;font-size: 24px;margin-top:1px"></i>
              </a>
          </label>

          <label class="item item-input event__input" ng-click="uploadEventPhoto()" ng-if="post.photo">
            <div class="card image" style="background:transparent !important; box-shadow:none;margin: 0">
                  <div class="item item-image">
                    <img class="plan_picture" ng-src = "{{post.photo}}" name = "photo" ng-model="photo">
                  </div>
              </div>
          </label>

          <label class="item item-input event__input" style="margin-top: -66px;margin-bottom:15px">
            <input type="text" name="description" placeholder="" style="margin-left:5px;font-weight:300">{{post.description}}
            <span class="input-label" style="margin-left:5px">Description</span>
          </label>

          <label class="item item-input event__input" style="margin-bottom:15px">
            <input type="text" name="location" style="margin-left:5px">{{post.location}}
            <span class="input-label" style="margin-left:5px">Location</span>
          </label>

          <label class="item item-input event__input">
            <input type="datetime-local" displayFormat="MM/YYYY" name="date" style="margin-left:5px;font-weight:300">{{post.date}}
            <!-- <input type="date" name="date">{{post.date}} -->
            <span class="input-label" style="margin-left:5px">Date/Time</span>
          </label>


        </div>
    </div>
  </ion-content>

</ion-modal-view>
