<ion-view title="Discover" class="view-browse" cache-view="false">

  <ion-nav-buttons side="right">
        <button class="button button-dark button-clear icon ion-ios-search" style="margin-right: 30px"></button>
        <button class="button button-dark button-clear icon ion-android-more-vertical" style="margin-right: 10px;" style="z-index: 999" ui-sref="settings"></button>
    </ion-nav-buttons>

    <ion-content scroll-sista="header" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
      <div ng-if="view.type === 1" style="margin-top: 28px;top: 100px;">
        <div style="height:100%;margin-top: 50px;" >
            <div class="row row-no-padding category-2-outer" ng-repeat="value in news.itemsArr | limitTo: limit" ng-if="$index % 2 == 0 && news.itemsArr[$index].photo">
              <div class="col" style="padding: 5px !important">
                <a ui-sref="post-detail({post:news.itemsArr[$index].key})">
                  <div class="category-2-item-wrapper">
                    <div class="category-2-item-content">
                      <div class = "multi-bg-outer" style="background-image: url({{news.itemsArr[$index].photo}}); background-color: transparent;z-index:5">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col" style="padding: 5px !important ">
                <a ui-sref="post-detail({post:news.itemsArr[$index+1].key})">
                  <div class="category-2-item-wrapper">
                    <div class="category-2-item-content">
                      <div class = "multi-bg-outer" style="background-image: url({{news.itemsArr[$index+1].photo}}); background-color: transparent;z-index:5">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!moreToScroll" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
