<ion-view view-title="Home" class="font-thin" style="background:#fafafc;margin-left: 0 !important" hide-nav-bar="true">
  <ion-nav-buttons side="right">
        <button class="button button-dark button-clear icon ion-android-more-vertical" style="margin-right: 10px;z-index: 999;" ui-sref="settings"></button>
    </ion-nav-buttons>

    <nav mfb-menu position="br" effect="fountain"
         active-icon="ion-close-round" resting-icon="ion-plus-round"
         toggling-method="click">
      <button mfb-button icon="ion-ios-camera" label="Create Post"  ui-sref="regular"></button>
      <button mfb-button icon="ion-ios-star" label="Create Goal"  ui-sref="create-plan"></button>
    </nav>

    <ion-content class="has-tabs-top">
      <ion-refresher on-refresh="doRefresh()" icon="spiral" class="spinner-positive"></ion-refresher>
      <div ng-show="loading == true" style="text-align:center;margin-top:40px;">
        <ion-spinner icon="spiral" class="spinner-positive"></ion-spinner>
      </div>
      <div ng-repeat="posts in (totalPost.photos | orderBy: 'created': true) track by $index" style="-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;">
      <div class="list card"  on-swipe-left="onSwipeLeft()" ng-if="posts.state.visible" style="box-shadow: none;margin-left:0;margin-right:0;-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;transform: translateZ(0);backface-visibility: hidden;">
          <div class="item item-image" ui-sref="post-detail({post:posts.key})" style="max-height: 500px;">
              <img ng-src="{{posts.photo}}" fallback-src = "img/grayBackground.jpg" style="-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;transform: translateZ(0);backface-visibility: hidden;"/>
            </div>
          <div class="item item-avatar" style="border: none; padding-bottom: 0px;">
            <img ng-src="{{posts.avatar}}" style="background-color: transparent;-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;transform: translateZ(0);backface-visibility: hidden;" fallback-src="img/profile-picture.png" ui-sref="friend({contact:posts.createdBy})"/>
            <h2 class = "lead" style="font-weight: bold !important;" ui-sref="friend({contact:posts.createdBy})">{{posts.owner}}</h2>
            <p style="color:black !important;letter-spacing: 1.5px;font-size: 12px;" class="font-thin">{{posts.description}}</p>
            <p style="color:black !important; letter-spacing: 1.5px;font-size: 12px;" am-time-ago="{{posts.created}}" class="font-thin"></p>
          </div>
          <a class="item" style = "display: inline-flex;font-size: 18px;border: none;letter-spacing: 1px;">
            <i class = "ion-heart" ng-class="{'ion-heart': !posts.liked, 'ion-heart liked-red':posts.liked }" style="margin-right: .5em;"></i>{{posts.totalLikes}}
          </a>
          <a class="item" ng-click="toggleLike(posts.key, userId)" style = "display: inline-flex;font-size: 18px; border: none;letter-spacing: 1px;">
            <i class = "ion-ios-chatbubble" style="margin-right: .5em;"></i>{{posts.totalComments}}
          </a>
        </div>
        <!--connect-->
        <div style="border: none;font-weight: 400;margin-top: 40px;font-size: 20px;color: #F10707 !important;" ng-if = "$index == 6" class = "item item-divider">Connect</div>
        <div style="border: none;font-weight: 400" ng-if = "$index == 6" class = "item item-divider">Trending now</div>
        <ion-scroll direction="x" ng-if = "$index == 6" style="margin-bottom: 60px;">
          <div class="row" style="width: 263vh;height: 325px;padding-top: 0">
            <div ui-sref="contacts({activity:connections.id, type: 'Connect'})" class="col item-image card" ng-repeat = "connections in totalPost.connect" style="padding: 0;margin-right: 2px;">
              <img ng-src="{{connections.src}}" fallback-src = "img/grayBackground.jpg" style="height: 72%;max-height: 187px;"/>
                <p style="font-weight: 400 !important;margin-top: 5px;text-align: left;margin-left: 5px;color: black !important;">{{connections.label}}</p>
                <p style="color:black !important;text-align: left;letter-spacing: 1.5px;font-size: 12px;margin-left: 5px;" class="font-thin">{{connections.description}}</p>
            </div>
          </div>
        </ion-scroll>

        <div style="border: none;font-weight: 400;margin-top: 40px;font-size: 20px;color: #F10707 !important;" ng-if = "$index == 20" class = "item item-divider">Connect</div>
        <div style="border: none;font-weight: 400 !important;" ng-if = "$index == 20" class = "item item-divider">Trending now</div>
        <ion-scroll direction="x" ng-if = "$index == 20" style="margin-bottom: 60px;">
          <div class="row" style="width: 263vh;height: 325px;padding-top: 0">
            <div ui-sref="contacts({activity:connections.id, type: 'Connect'})" class="col item-image card" ng-repeat = "connections in totalPost.together" style="padding: 0;margin-right: 2px;">
              <img ng-src="{{connections.src}}" fallback-src = "img/grayBackground.jpg" style="height: 72%;max-height: 187px;"/>
                <p style="font-weight: 400 !important;margin-top: 5px;text-align: left;margin-left: 5px;color: black !important;">{{connections.label}}</p>
                <p style="color:black !important;text-align: left;letter-spacing: 1.5px;font-size: 12px;margin-left: 5px;" class="font-thin">{{connections.description}}</p>
            </div>
          </div>
        </ion-scroll>

        <div style="border: none;font-weight: 400;margin-top: 40px;font-size: 20px;color: #F10707 !important;" ng-if = "$index == 34" class = "item item-divider">Connect</div>
        <div style="border: none;font-weight: 400 !important;" ng-if = "$index == 34" class = "item item-divider">Trending now</div>
        <ion-scroll direction="x" ng-if = "$index == 34" style="margin-bottom: 60px;">
          <div class="row" style="width: 263vh;height: 325px;padding-top: 0">
            <div ui-sref="contacts({activity:connections.id, type: 'Connect'})" class="col item-image card" ng-repeat = "connections in totalPost.unite" style="padding: 0;margin-right: 2px;">
              <img ng-src="{{connections.src}}" fallback-src = "img/grayBackground.jpg" style="height: 72%;max-height: 187px;"/>
                <p style="font-weight: 400 !important;margin-top: 5px;text-align: left;margin-left: 5px;color: black !important;">{{connections.label}}</p>
                <p style="color:black !important;text-align: left;letter-spacing: 1.5px;font-size: 12px;margin-left: 5px;" class="font-thin">{{connections.description}}</p>
            </div>
          </div>
        </ion-scroll>

        <!--Leaders -->
        <div style="border: none;font-weight: 400;margin-top: 40px;font-size: 20px;color: #F10707 !important;" ng-if = "$index == 13" class = "item item-divider">Leaders</div>
        <div style="border: none;font-weight: 400 !important;" ng-if = "$index == 13" class = "item item-divider">Trending now</div>
        <ion-scroll direction="x" ng-if = "$index == 13" style="margin-bottom: 60px;">
          <div class="row" style="width: 263vh;height: 325px;padding-top: 0;">
            <div ui-sref="contactLeader({activity:connections.id, type: 'Leaders'})" class="col item-image card" ng-repeat = "connections in totalPost.leader | limitTo: 5" style="padding: 0;margin-right: 2px;">
              <img ng-src="{{connections.src}}" fallback-src = "img/grayBackground.jpg" style="height: 72%;max-height: 187px;"/>
                <p style="font-weight: 400 !important;margin-top: 5px;text-align: left;margin-left: 5px;color: black !important;">{{connections.label}}</p>
                <p style="color:black !important;text-align: left;letter-spacing: 1.5px;font-size: 12px;margin-left: 5px;" class="font-thin">{{connections.description}}</p>
            </div>
          </div>
        </ion-scroll>

        <div style="border: none;font-weight: 400;margin-top: 40px;font-size: 20px;color: #F10707 !important;" ng-if = "$index == 27" class = "item item-divider">Leaders</div>
        <div style="border: none;font-weight: 400 !important;" ng-if = "$index == 27" class = "item item-divider">Trending now</div>
        <ion-scroll direction="x" ng-if = "$index == 27" style="margin-bottom: 60px;">
          <div class="row" style="width: 263vh;height: 325px;padding-top: 0;">
            <div ui-sref="contactLeader({activity:connections.id, type: 'Leaders'})" class="col item-image card" ng-repeat = "connections in totalPost.coach | limitTo: 5" style="padding: 0;margin-right: 2px;">
              <img ng-src="{{connections.src}}" fallback-src = "img/grayBackground.jpg" style="height: 72%;max-height: 187px;"/>
                <p style="font-weight: 400 !important;margin-top: 5px;text-align: left;margin-left: 5px;color: black !important;">{{connections.label}}</p>
                <p style="color:black !important;text-align: left;letter-spacing: 1.5px;font-size: 12px;margin-left: 5px;" class="font-thin">{{connections.description}}</p>
            </div>
          </div>
        </ion-scroll>

        <div style="border: none;font-weight: 400;margin-top: 40px;font-size: 20px;color: #F10707 !important;" ng-if = "$index == 41" class = "item item-divider">Leaders</div>
        <div style="border: none;font-weight: 400 !important;" ng-if = "$index == 41" class = "item item-divider">Trending now</div>
        <ion-scroll direction="x" ng-if = "$index == 41" style="margin-bottom: 60px;">
          <div class="row" style="width: 263vh;height: 325px;padding-top: 0;">
            <div ui-sref="contactLeader({activity:connections.id, type: 'Leaders'})" class="col item-image card" ng-repeat = "connections in totalPost.mentor | limitTo: 5" style="padding: 0;margin-right: 2px;">
              <img ng-src="{{connections.src}}" fallback-src = "img/grayBackground.jpg" style="height: 72%;max-height: 187px;"/>
                <p style="font-weight: 400 !important;margin-top: 5px;text-align: left;margin-left: 5px;color: black !important;">{{connections.label}}</p>
                <p style="color:black !important;text-align: left;letter-spacing: 1.5px;font-size: 12px;margin-left: 5px;" class="font-thin">{{connections.description}}</p>
            </div>
          </div>
        </ion-scroll>
      </div>

      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="spiral" class="spinner-positive" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
