<ion-view class="font-thin" view-title="Post" hide-nav-bar = "true">

  <ion-nav-bar>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-header-bar align-title="left" class="bar bar-header has-tabs-top" style="top: 0 !important;background: #fafafc !important;">
    <button style="display: block; transition-duration: 0ms;" ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="title title-left header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">Post</div>
  </ion-header-bar>

    <ion-content class="has-header" style="top: 0;" padding="false">
      <div class="list card" style="box-shadow: none;margin-left:0;margin-right:0;">
        <div class="item item-image" style="max-height: 500px;">
            <img ng-src="{{post.photo}}">
          </div>
        <div class="item item-avatar" style="border: none; padding-bottom: 0px;">
          <img ng-src="{{post.avatar}}" style="background-color: transparent">
          <div class="button button-dark button-clear icon ion-android-more-vertical" style="display: block;right: 0;position: fixed;margin-top: -11px" ng-click="showPopup()"></div>
          <h2 style="color:black !important; letter-spacing: 1.5px;font-size: 12px;font-weight: 400;" class="font-thin">{{post.owner}}</h2>
          <p style="color:black !important;letter-spacing: 1.5px;font-size: 12px;" class="font-thin">{{post.description}}</p>
          <p style="color:black !important;letter-spacing: 1.5px;font-size: 12px;" class="font-thin">{{post.location}}</p>
          <p style="color:black !important; letter-spacing: 1.5px;font-size: 12px" class="font-thin">{{post.postType}}</p>
          <p style="color:black !important; letter-spacing: 1.5px;font-size: 12px;" am-time-ago="{{post.created}}" class="font-thin"></p>
        </div>
        <a class="item" ng-if = "post.postType === 'Event'" style = "display: inline-flex;font-size:14px;border: none;letter-spacing: 1px;" ng-click="toggleCommit(post.key,userId)">
          {{post.totalCommits}} Commit
        </a>
        <a class="item" ng-click="toggleLike(posts.key, userId)" style = "display: inline-flex;font-size: 14px;border: none;letter-spacing: 1px;">
          {{post.totalLikes}} Likes
        </a>
        <a class="item" ng-click="toggleLike(posts.key, userId)" style = "display: inline-flex;font-size: 14px; border: none;letter-spacing: 1px;">
          {{commmentsNumber}} Comments
        </a>
      </div>

      <div class="item comments" style="margin-bottom: 21vh;border-top: 1px solid rgba(128, 128, 128, 0.43);margin-top: -18px;border-bottom: none;">
          <div class="item item-avatar" ng-repeat="comment in comments | limitTo:5" ng-if="comment.comment" style="border: none;font-weight: 300;">
              <img ng-src="{{comment.userPhoto}}"/>
              <h2 class="text-small">{{comment.userName}}</h2>
              <p class="text-smaller">{{comment.comment}}</p>
          </div>
          <p ng-if="commmentsNumber > 5" class="text-smaller" style="margin-left: 20px;"><a ui-sref="comments({post: postId })" style="color:black">View more</a></p>
          <p ng-if="commmentsNumber == 0" ui-sref="comments({post: postId })" >No comments. be the first to <a ui-sref="comments({post: postId })">leave a comment</a></p>
      </div>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!moreToScroll" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
