<ion-view class="font-thin" view-title="Post">

  <ion-nav-bar>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-buttons side="right">
      <button class="button button-dark button-clear icon ion-android-more-vertical" style="margin-right: 20px" ng-click="menuPopover.show($event);"></button>
  </ion-nav-buttons>

    <ion-content class="has-header" style="top: 44px;"scroll-event-interval="5" padding="false">

        <div class="list card post-detail">
            <div class="item item-body" style="padding: 0">
                <img class="full-image" ng-src="{{post.photo}}">
                <div class="item item-avatar" ui-sref="friend({contact:post.createdBy})">
                    <img ng-src="{{post.avatar}}" ui-sref="friend({contact:post.createdBy})">
                    <h2 style="font-size: 11px;font-weight: 400;" ui-sref="friend({contact:post.createdBy})">{{post.owner}}</h2>
                    <p ng-if="post.description" style="font-size: 11px;font-weight: 400;">{{post.description}}</p>
                    <p ng-if="post.location" style="color:blue;font-size: 11px;font-weight: 400;">{{ post.location }}</p>
                    <p ng-if="post.created" class="text-smaller" am-time-ago="{{post.created}}"></p>
                </div>
                <div class="item comments">
                    <p>
                        <span ng-click="share(post);" style="margin-left:5px">Share
                        <span ui-sref="comments({post: post.postId, type:'comments'})" class="pull-right">{{commmentsNumber}} Comments</a>
                </p>
                </div>
                <div class="item comments no-b" style="margin-bottom: 21vh;">
                    <div class="item item-avatar" ng-repeat="comment in comments | limitTo:5" ng-if="comment.comment">
                        <img ng-src="{{comment.userPhoto}}"/>
                        <h2 class="text-small">{{comment.userName}}</h2>
                        <p class="text-smaller">{{comment.comment}}</p>
                    </div>
                    <p ng-if="commmentsNumber > 5" class="text-smaller" style="margin-left: 20px;"><a ui-sref="tabs.comments({post: postId })" style="color:black">View more</a></p>
                    <p ng-if="commmentsNumber == 0" ui-sref="tabs.comments({post: postId })" >No comments. be the first to <a ui-sref="tabs.comments({post: postId })">leave a comment</a></p>
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="!moreToScroll" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
