<ion-view hide-nav-bar="true" class="bg-lightgrey" cache-view = "false">

    <ion-header-bar style="background-color: #fafafc;height: 48px;top: 0px !important;position: absolute;">
        <div class="row text-center">
            <div class="col font-thin text-large dark" ng-click="$ionicGoBack()" style="color:gray;">Cancel</div>
            <div class="col font-thin text-large balanced bl-grey profile" style="color:green;" ng-if="!post.created" ng-click="createPost()">Send</div>
            <div class="col font-thin text-large balanced bl-grey profile" style="color:green;" ng-if="post.created" ng-click="updatePost()">Send</div>
        </div>
    </ion-header-bar>

  <ion-content class="has-header" style="top: 44px !important;">
    <div class="event-form" style="height: 283px">
      <div class="list edit padding-horizontal padding-vertical" style="padding:0;height: 283px">
        <div style="height: 283px" ng-if = "view.type === 1">
          <label class="item item-input event__input" ng-click="uploadEventPhoto()" ng-if = "view.type === 1">
            <div class="card image" style="background:transparent !important; box-shadow:none;margin: 0">
                  <div class="item item-image" ng-if = "view.type === 1">
                    <img class="plan_picture" ng-src = "img/post-photo.jpg" name = "photo" ng-model="photo">
                  </div>
              </div>
              <a class="btn-floating btn-small waves-effect waves-light lighten-1" ng-if = "view.type === 1" style="top: -113px;z-index: 5;left: 5px;background-color: white;width:42px;height:42px;line-height: 42px;" ng-click="uploadEventPhoto()">
                <i class="icon ion-ios-camera" style="color: black;display: inherit;font-size: 24px;margin:auto;position: inherit;margin-top: 3%;margin-left: -1%"></i>
              </a>
          </label>
        </div>

        <div class="list card" style="box-shadow: none;margin-left:0;margin-right:0;padding: 0;margin: 0;" ng-click="uploadEventPhoto()" ng-if="view.type === 2">
          <div class="item item-image" style="max-height: 500px;box-shadow: none;margin-left:0;margin-right:0;padding: 0;margin: 0;" ng-click="uploadEventPhoto()">
              <img ng-src="{{photo}}" name = "photo" ng-model="photo">
            </div>
        </div>

          <label class="item item-input event__input" style="margin-bottom:15px;padding-top: 20px;">
            <input type="text" name="description" placeholder="" style="margin-left:5px;font-weight:300">{{post.description}}
            <span class="input-label" style="margin-left:5px">Description</span>
          </label>

          <label class="item item-input event__input" style="margin-bottom: 15px">
            <input type="text" name="location" placeholder="" style="margin-left:5px;font-weight:300">{{post.location}}
            <span class="input-label" style="margin-left:5px">Location</span>
          </label>

        </div>
    </div>
  </ion-content>

</ion-view>
