<ion-view title="Leaders">

    <ion-nav-buttons side = "left">
      <button class="button button-icon button-clear button-dark" ng-click="fullscreenPopover.show($event);">
         <img src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
      </button>
    </ion-nav-buttons>

    <ion-content scroll="true">
          <div class="row row-no-padding category-2-outer" ng-repeat = "ab in abs track by $index">
            <div class="col">
              <a ui-sref="tabs.lead({activity:ab.id})">
                <div class="category-2-item-wrapper">
                  <div class="category-2-item-content">
                    <div class = "multi-bg-outer" multi-bg="[bg_img]" interval="3000" helper-class="category-with-image" style="background-image: url({{ab.photo}});">
                      <img bg="" class="multi-bg category-with-image">
                      <span class="bg-overlay"></span>
                      <h1 class="category-heading">
                        <span> 0{{ab.numbers}}
                          <span class="bubble"></span>
                        </span>
                        <span style="border-bottom: 1px solid #F10707;">{{ab.label}}</span>
                      </h1>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="!moredata"></ion-infinite-scroll>
    </ion-content>
</ion-view>
