<ion-view class="view-login" style="color: white;" hide-nav-bar="true">

  <ion-header-bar align-title="left" class="bar signup-bar-clear bar-header has-tabs-top" style="top: 0 !important;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);">
    <button style="display: block; transition-duration: 0ms;" ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item">
      <i class="icon ion-ios-arrow-back" style="color: gray"></i>
      <span class="back-text" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="title title-left header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);margin-left: 0;">Select your interest</div>
  </ion-header-bar>

  <ion-header-bar align-title="right" class="bar signup-bar-clear bar-header has-tabs-top" style="top: 0 !important;margin-right:15px;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);" ui-sref="findPartners">
    <div class="title title-left header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);margin-right: 15px;" ui-sref="findPartners">Next</div>
  </ion-header-bar>

  <ion-content class="has-header" scroll="true">
           <div class="row row-no-padding category-2-outer" style="padding:0;overflow:scroll" ng-repeat = "interest in interestImages track by $index">
             <div class="col">
                 <div class="category-2-item-wrapper" style="z-index: 1">
                   <div class="category-2-item-content" style="z-index: 1">
                     <div class = "multi-bg-outer" multi-bg="[bg_img]" interval="3000" helper-class="category-with-image" style="background-image: url({{interest.src}});">
                       <img bg="" ng-src="{{interest.src}}" class="multi-bg category-with-image">
                       <span class="bg-overlay"></span>
                       <ion-checkbox style="color: #F10707;background-color: transparent;border-color: transparent;" data-interest-id="{{ interest.id }}" ng-model="isChecked"  ng-change="checkedOrNot(interest, isChecked, $index, $localStorage)" ng-init='isChecked=false'>
                       </ion-checkbox>
                       <h1 class="category-heading" style="width: 80%" >
                         <span>{{$index +1}}
                           <span class="bubble"></span>
                         </span>
                         <span style="border-bottom: 1px solid #F10707;">{{interest.label}}</span>
                       </h1>
                     </div>
                   </div>
                 </div>
             </div>
           </div>

    </ion-content>
</ion-view>
