<ion-view view-title="Connect" class="font-thin" style="background:#fafafc;" hide-nav-bar="true">
  <ion-nav-buttons side="right">
        <button class="button button-dark button-clear icon ion-android-more-vertical" style="margin-right: 10px;z-index: 999;" ui-sref="settings"></button>
    </ion-nav-buttons>

    <ion-floating-button ng-if="view.type === 1" ng-click="view.type = 2"class="match-float" has-footer="false" button-color="#F10707" style= "left: 20px;" icon="ion-ios-shuffle-strong" iconColor="#fff">
    </ion-floating-button>

    <ion-floating-button ng-if="view.type === 2" ng-click="view.type = 1"class="match-float" has-footer="false" button-color="#F10707" style= "left: 20px;" icon="ion-ios-shuffle-strong" iconColor="#fff">
    </ion-floating-button>
    <ion-content  class="has-tabs-top">
      <div ng-if="view.type === 1" style="top: 37px;position: relative;font-size: 18px;margin-left: 20px;">Connect</div>
        <div ng-if="view.type === 1" on-swipe-left="onSwipeLeft1()" on-swipe-right="onSwipeRight2()" style="position: relative;top:53px;">
          <div class="row row-no-padding category-2-outer" style="padding:0;" ng-repeat = "ab in connectImages track by $index" >
            <div class="col">
              <a ui-sref="contacts({activity:ab.id, type: 'Connect'})">
                <div class="category-2-item-wrapper">
                  <div class="category-2-item-content">
                    <div class = "multi-bg-outer" multi-bg="[bg_img]" interval="3000" helper-class="category-with-image" style="background-image: url({{ab.src}});">
                      <img bg="" ng-src ="{{ab.src}}" class="multi-bg category-with-image">
                      <span class="bg-overlay"></span>
                      <h1 class="category-heading" style="width: 80%">
                        <span>{{$index +1}}
                          <span class="bubble"></span>
                        </span>
                        <span style="border-bottom: 1px solid #F10707;">{{ab.label}}</span>
                      </h1>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      <div ng-if="view.type === 2" style="top: 37px;position: relative;font-size: 18px;margin-left: 20px;">Leaders</div>
      <div ng-if="view.type === 2" on-swipe-left="onSwipeLeft2()" on-swipe-right="onSwipeRight1()" style="position: relative;top:53px;">
        <div class="row row-no-padding category-2-outer" style="padding:0" ng-repeat = "trainer in leaderImages track by $index">
          <div class="col">
            <a ui-sref="contactLeader({activity:trainer.id, type: 'Leaders'})">
              <div class="category-2-item-wrapper">
                <div class="category-2-item-content">
                  <div class = "multi-bg-outer" multi-bg="[bg_img]" interval="3000" helper-class="category-with-image" style="background-image: url({{trainer.src}});">
                    <img bg="" ng-src = "{{trainer.src}}" class="multi-bg category-with-image">
                    <span class="bg-overlay"></span>
                    <h1 class="category-heading" style="width: 80%">
                      <span>{{$index +1}}
                        <span class="bubble"></span>
                      </span>
                      <span style="border-bottom: 1px solid #F10707;">{{trainer.label}}</span>
                    </h1>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
    </ion-content>
</ion-view>
