<ion-view title="Sessions" cache-view="false">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-buttons side = "left">
    <button class="button button-icon button-clear button-dark" ng-click="fullscreenPopover.show($event);">
       <img ng-src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
    </button>
  </ion-nav-buttons>

    <ion-content class="has-header" scroll="true">
      <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
        <div style="height:700px">
          <div class="card no-margin bb-grey no-br no-box">
            <div class="item item-reminders"  ng-repeat="value in reminders.itemsArr | orderBy: 'created': true | limitTo: limit" ng-if="value.type === 'Add Task'">
              <div class="row row-no-padding category-1-outer">
                <div class="col">
                    <div class="category-1-item-wrapper">
                      <div class="category-1-item-content">
                        <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image">
                          <h1 class="category-heading">
                            <span class="callout" ng-if="!value.totalCommits" ng-click="toggleCommit(value.key,userId)">Click to Join</span>
                            <span class="callout" ng-if="value.totalCommits" ng-click="toggleCommit(value.key,userId)">{{value.totalCommits}}</span>
                            <span class="main-title">{{value.title}}</span>
                            <span class="subtitle" ng-if="value.description">{{value.description}}</span>
                            <span class="subtitle" ng-if="value.notes">{{value.notes}}</span>
                            <span class="subtitle" ng-if="!value.allDay">{{value.startAt | date}}</span>
                            <span class="subtitle" ng-if="!value.allDay">{{value.endAt | date}}</span>
                            <span class="subtitle" ng-if="value.allDay">All Day</span>
                          </h1>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
                </div>
                <div class="item item-reminders" ng-repeat="value in reminders.itemsArr | orderBy: 'created': true | limitTo: limit " ng-if="value.type === 'Add Event'">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content" ui-sref="tabs.planView-detail({post:value.key})">
                            <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image">
                              <h1 class="category-heading">
                                <span class="callout" ng-if="!value.totalCommits" ng-click="toggleCommit(value.key,userId)">Click to Join</span>
                                <span class="callout" ng-if="value.totalCommits" ng-click="toggleCommit(value.key,userId)">{{value.totalCommits}}</span>
                                <span class="main-title">{{value.title}}</span>
                                <span class="subtitle" ng-if="value.description">{{value.description}}</span>
                                <span class="subtitle" ng-if="value.notes">{{value.notes}}</span>
                                <span class="subtitle" ng-if="!value.allDay">{{value.startAt | date}}</span>
                                <span class="subtitle" ng-if="!value.allDay">{{value.endAt | date}}</span>
                                <span class="subtitle" ng-if="value.allDay">All Day</span>
                             </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="item item-reminders" ng-if="userCommit.postType ==='event'" ng-repeat="userCommit in userCommits.itemsArr | orderBy: 'created': true | limitTo: limit">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content" ui-sref="tabs.planView-detail({post:userCommit.key})">
                            <div class = "multi-bg-outer"interval="3000" helper-class="category-with-image" style="background-image: url({userCommit.photo});">
                              <img bg="" class="multi-bg category-with-image" ng-src="{{userCommit.photo}}">
                              <h1 class="category-heading">
                                <span class="main-title">{{userCommit.description}}</span>
                                <span class="subtitle">{{userCommit.date | date}}</span>
                          </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a href="tel:{{value.phone}}" class="item" style="padding:0" ng-repeat="value in reminders.itemsArr | orderBy: 'created': true | limitTo: limit" ng-if="value.type === 'Add Call'">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content" ui-sref="tabs.planView-detail({post:value.key})">
                            <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image">
                              <h1 class="category-heading">
                                <span class="callout" ng-if="!value.totalCommits" ng-click="toggleCommit(value.key,userId)">Click to Join</span>
                                <span class="callout" ng-if="value.totalCommits" ng-click="toggleCommit(value.key,userId)">{{value.totalCommits}}</span>
                                <span class="main-title">{{value.title}}</span>
                                <span class="subtitle" ng-if="value.description">{{value.description}}</span>
                                <span class="subtitle" ng-if="value.notes">{{value.notes}}</span>
                                <span class="subtitle" ng-if="!value.allDay">Start's at {{value.startAt | date}}</span>
                                <span class="subtitle" ng-if="!value.allDay">End's at {{value.endAt | date}}</span>
                                <span class="subtitle" ng-if="value.allDay">All Day</span>
                            </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </a>

                <a href="email:{{value.email}}" class="item" ng-repeat="value in reminders.itemsArr | orderBy: 'created': true | limitTo: limit" ng-if="value.type === 'Add Email'">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content">
                            <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image">
                              <h1 class="category-heading">
                                <span class="callout" ng-if="!value.totalCommits" ng-click="toggleCommit(value.key,userId)">Click to Join</span>
                                <span class="callout" ng-if="value.totalCommits" ng-click="toggleCommit(value.key,userId)">{{plan.totalCommits}}</span>
                                <span class="main-title">{{value.title}}</span>
                                <span class="subtitle" ng-if="!value.allDay">Start's at {{value.startAt | date}}</span>
                                <span class="subtitle" ng-if="!value.allDay">End's at {{value.endAt | date}}</span>
                                <span class="subtitle" ng-if="value.allDay">All Day</span>
                              </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                  </a>
                </div>
            </div>
      </ion-scroll>
      <ion-infinite-scroll on-infinite="loadMore() && loadMoreCommits()" ng-if="!moreToScroll" distance="1%"></ion-infinite-scroll>
  </ion-content>
  <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999;background-color: transparent !important;" ng-click="calendarPopover.show($event);"><i class="icons ion-ios-calendar" style="color: #F10707"></i></a>
</ion-view>
