<ion-view title="Calendar" cache-view="false">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-nav-buttons side = "left">
       <button class="button button-icon button-clear button-dark">
          <img src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
       </button>
  </ion-nav-buttons>

    <ion-content class="has-header" scroll="false">
      <div class="item item-divider padding no-bg no-b bb-grey">
          <div class="row no-padding">
              <div class="col text-grey" ng-click="decrementDate(dateFilter)"><i class="icon ion-ios-arrow-back"></i></div>
              <div class="col text-grey text-center text-small">{{viewDate| amCalendar:referenceTime:formats}}
              </div>
              <div class="col text-grey text-right" ng-click="incrementDate(dateFilter)"><i class="icon ion-ios-arrow-forward"></i></div>
          </div>
      </div>

      <div class="card no-margin no-br" ng-if="reminders.length == 0">
          <div class="item item-text-wrap item-icon-left teal lighten-1" style="background-color: gray !important;">
          <img src="img/TTG-Symbol-2015-02.png" style="position: relative;height: 23px;left: -5vh;top: 4px;">
              <span class="light">No incomplete reminders</span>
          </div>
      </div>

      <ion-scroll class="bg-lightgrey" direction="y" style="height:100%">
        <div style="height:700px">
          <div class="card no-margin bb-grey no-br no-box">
            <div class="item item-reminders"  ng-repeat="(key, value) in reminders.items" ng-if="value.type == 'task'">
              <div class="row row-no-padding category-1-outer">
                <div class="col">
                    <div class="category-1-item-wrapper">
                      <div class="category-1-item-content">
                        <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image" style="background-image: url(img/rappel.jpg);">
                          <img bg="" class="multi-bg category-with-image" src = "img/rappel.jpg">
                            <span class="bg-overlay"></span>
                          <h1 class="category-heading">
                            <span class="callout" ng-click="toggleCommit(key,userId)">Click to join.</span>
                            <span class="main-title">{{value.title}}</span>
                            <span class="subtitle" ng-if="!value.allDay">{{value.startAt | date}}</span>
                            <span class="subtitle" ng-if="!value.allDay">{{value.endAt | date}}</span>
                            <span class="subtitle" ng-if="value.allDay">All Day</span>
                            <i class="icon ion-minus-circled" style="top:0;right: 0;position: absolute;margin-right: 3px;margin-top: 3px;" ng-if="profile.userId" ng-click="delete(key)"></i>
                          </h1>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
                    <!-- <i class="icon light ion-ios-checkmark-outline"></i>
                    <span class="light text-medium">{{value.title}}</span><br/>
                    <span class="light text-smaller justified" ng-if="value.notes">{{value.notes}}<br/></span>
                    <span class="text-smaller light" ng-if="!value.allDay">Start's at {{value.startAt | date: 'HH:mm a'}}</span>
                    <span class="light text-smaller pull-right" ng-if="!value.allDay">End's at {{value.endAt | date: 'HH:mm a'}}</span>
                    <span class="light text-smaller pull-right" ng-if="value.allDay">on going for entire day</span>
                    <i class="icon ion-minus-circled" style="top:0" ng-click="delete(key)"></i> -->
                </div>
                <div class="item item-reminders" ng-repeat="(key, value) in reminders.items" ng-if="value.type == 'event'">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content">
                            <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image" style="background-image: url(img/audience.jpg);">
                              <img bg="" class="multi-bg category-with-image" src = "img/audience.jpg">
                                <span class="bg-overlay"></span>
                              <h1 class="category-heading">
                                <span class="callout" ng-click="toggleCommit(key,userId)">Click to join.</span>
                                <span class="main-title">{{value.title}}</span>
                                <span class="subtitle" ng-if="!value.allDay">{{value.startAt | date}}</span>
                                <span class="subtitle" ng-if="!value.allDay">{{value.endAt | date}}</span>
                                <span class="subtitle" ng-if="value.allDay">All Day</span>
                                <i class="icon ion-minus-circled" style="top:0;right: 0;position: absolute;margin-right: 3px;margin-top: 3px;" ng-if="profile.userId" ng-click="delete(key)"></i>
                              </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                    <!-- <i class="icon light ion-ios-calendar-outline"></i>
                    <span class="light text-medium">{{value.title}}</span><br/>
                    <span class="light text-small justified" ng-if="value.notes">{{value.notes}}<br/></span>
                    <span class="light text-small" ng-if="value.location"><i class="icon ion-ios-location"></i> {{value.location}}<br/></span>
                    <span class="text-smaller light" ng-if="!value.allDay">Start's at {{value.startAt | date: 'HH:mm a'}}</span>
                    <span class="light text-smaller pull-right" ng-if="!value.allDay">End's at {{value.endAt | date: 'HH:mm a'}}</span>
                    <span class="light text-smaller pull-right" ng-if="value.allDay">on going for entire day</span>
                    <i class="icon ion-minus-circled" ng-click="delete(key)"></i> -->
                </div>
                <div class="item item-reminders" ng-if="userCommit.postType == 'eventPost'" ng-repeat="(key,userCommit) in userCommits">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content" ui-sref="tabs.planView-detail({post:userId})">
                            <div class = "multi-bg-outer"interval="3000" helper-class="category-with-image" style="background-image: url({userCommit.photo});">
                              <img bg="" class="multi-bg category-with-image" ng-src="{{userCommit.photo}}">
                                <span class="bg-overlay"></span>
                              <h1 class="category-heading">
                                <span class="main-title">{{userCommit.description}}</span>
                                <span class="subtitle">{{userCommit.date | date}}</span>
                                <i class="icon ion-minus-circled" style="top:0;right: 0;position: absolute;margin-right: 3px;margin-top: 3px;" ng-if="profile.userId" ng-click="delete(key)"></i>
                              </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                    <!-- <i class="icon light ion-ios-calendar-outline"></i>
                    <span class="light text-medium">{{userCommit.date}}</span><br/>
                    <span class="light text-medium"><img ng-src="{{userCommit.photo}}" /></span><br/>
                    <span class="light text-small justified" ng-if="userCommits.description">{{userCommit.description}}<br/></span>
                    <span class="light text-small" ng-if="userCommits.location"><i class="icon ion-ios-location"></i> {{userCommit.location}}<br/></span>
                    <i class="icon ion-minus-circled" ng-click="delete(key)"></i> -->
                </div>

                <a href="tel:{{value.phone}}" class="item" style="padding:0" ng-repeat="(key, value) in reminders.items" ng-if="value.type == 'call'">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content">
                            <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image" style="background-image: url(img/telephone.jpg);">
                              <img bg="" class="multi-bg category-with-image" src="img/telephone.jpg">
                                <span class="bg-overlay"></span>
                              <h1 class="category-heading">
                                <span class="callout" ng-click="toggleCommit(key,userId)">Click to join.</span>
                                <span class="main-title">{{value.title}}</span>
                                <span class="subtitle" ng-if="!value.allDay">Start's at {{value.startAt | date}}</span>
                                <span class="subtitle" ng-if="!value.allDay">End's at {{value.endAt | date}}</span>
                                <span class="subtitle" ng-if="value.allDay">All Day</span>
                                <i class="icon ion-minus-circled" style="top:0;right: 0;position: absolute;margin-right: 3px;margin-top: 3px;" ng-if="profile.userId" ng-click="delete(key)"></i>
                              </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                    <!-- <i class="icon light ion-ios-telephone-outline"></i>
                    <span class="light text-medium">{{value.title}}</span><br/>
                    <span class="light text-smaller justified" ng-if="value.notes">{{value.notes}}<br/></span>
                    <span class="text-smaller light" ng-if="!value.allDay">Start's at {{value.startAt | date: 'HH:mm a'}}</span>
                    <span class="light text-smaller pull-right" ng-if="!value.allDay">End's at {{value.endAt | date: 'HH:mm a'}}</span>
                    <span class="light text-smaller pull-right" ng-if="value.allDay">on going for entire day</span>
                    <i class="icon ion-minus-circled" ng-click="delete(key)"></i> -->
                </a>

                <a href="email:{{value.email}}" class="item" ng-repeat="(key, value) in reminders.items" ng-if="value.type == 'email'">
                  <div class="row row-no-padding category-1-outer">
                    <div class="col">
                        <div class="category-1-item-wrapper">
                          <div class="category-1-item-content">
                            <div class = "multi-bg-outer" interval="3000" helper-class="category-with-image" style="background-image: url(img/macbook.jpg);">
                              <img bg="" class="multi-bg category-with-image" src="img/macbook.jpg">
                                <span class="bg-overlay"></span>
                              <h1 class="category-heading">
                                <span class="callout" ng-click="toggleCommit(key,userId)">Click to join.</span>
                                <span class="main-title">{{value.title}}</span>
                                <span class="subtitle" ng-if="!value.allDay">Start's at {{value.startAt | date}}</span>
                                <span class="subtitle" ng-if="!value.allDay">End's at {{value.endAt | date}}</span>
                                <span class="subtitle" ng-if="value.allDay">All Day</span>
                                <i class="icon ion-minus-circled" style="top:0;right: 0;position: absolute;margin-right: 3px;margin-top: 3px;" ng-if="profile.userId" ng-click="delete(key)"></i>
                              </h1>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                      <!-- <i class="icon light ion-ios-list-outline"></i>
                      <span class="light text-medium">{{value.title}}</span><br/>
                      <span class="light text-smaller justified" ng-if="value.notes">{{value.notes}}<br/></span>
                      <span class="text-smaller light" ng-if="!value.allDay">Start's at {{value.startAt | date: 'HH:mm a'}}</span>
                      <span class="light text-smaller pull-right" ng-if="!value.allDay">End's at {{value.endAt | date: 'HH:mm a'}}</span>
                      <span class="light text-smaller pull-right" ng-if="value.allDay">on going for entire day</span>
                      <i class="icon ion-minus-circled" ng-click="delete(key)"></i> -->
                  </a>
                </div>
            </div>
      </ion-scroll>
  </ion-content>
    <a class="btn-floating btn-large waves-effect waves-light red lighten-1" style="position:fixed; bottom:3%;right:5%;z-index:999;background-color: transparent !important;" ng-click="reminderPopover.show($event);"><i class="icons ion-ios-plus" style="color: #F10707"></i></a>
</ion-view>
