<!-- File style login.scss
(*) assigned classes -->

<!-- * view-login / container general -->
<ion-view class="view-login" style="color: white;">
  <ion-nav-bar class="signup-bar-clear bar-edit-profile" style="background:none">
    <ion-header-bar align-title="left" style="background: transparent !important;">
        <h1 class="title" style="color: white; font-weight: 400" ui-sref="interest">Create Account</h1>
    </ion-header-bar>

    <ion-nav-back-button style="display: block; color: white">
    </ion-nav-back-button>

  </ion-nav-bar>
    <!-- * bg-image / background image -->
    <!-- class bg-image is in the file general.scss -->
    <div class="bg-image" style="background-image:url('img/bg-photo.jpg')">
        <!-- * bg-color / background-color -->
        <div class="bg-color login-flow">
            <ion-content style="background: transparent !important;margin-top: 40px" class="auth profile has-header bt-grey">
                <!-- * logo / logo company -->
                <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)" style="position: relative;">
                    <div class="list list-inset" style="background-color:transparent !important;">
                      <div class = "row" style="width: 100%;border-bottom: 1px solid white;margin:auto;margin-bottom: 25px;">
                        <label class="item item-input" style="border: none;background-color:transparent !important;margin-top:2px; text-align:center;width:100%;">
                          <input class = "signin" style="color: white" type="text" placeholder="Name" ng-model="user.fullName" validate>
                        </label>
                      </div>

                      <div class = "row" style="width: 100%;border-bottom: 1px solid white;margin:auto;margin-bottom: 25px;">
                        <label class="item item-input" style="border: none;background-color:transparent !important; margin-top:2px; text-align:center;width:100%;">
                          <input class = "validate signin" style="color: white" type="email" ng-model="user.email"  placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
                        </label>
                      </div>

                      <div class = "row" style="width: 100%;border-bottom: 1px solid white;margin:auto;margin-bottom: 25px;">
                        <label class="item item-input" style="border: none;background-color:transparent !important; margin-top:2px; text-align:center;width:100%;">
                          <input class = "signin" style="color: white" type="text" placeholder="Username" ng-model="user.userName" validate>
                        </label>
                      </div>

                      <div class = "row" style="width: 100%;border-bottom: 1px solid white;margin:auto;">
                        <label class="item item-input" style="border: none;background-color:transparent !important; margin-top:2px; text-align:center;width:100%;">
                          <input class = "validate signin" style="color: white" ng-model="user.password" type="password" placeholder="Password" ng-minlength="5" ng-maxlength="30" required>
                        </label>
                      </div>

                      <h1 class="font-thin" style="color: white; font-size: 14px; font-weight: 400 !important;margin-left: 20px;margin-top: 24px">Would you like to be considered a leader?</h1>
                       <ion-radio ng-model="user.leader" ng-value="'leader'" style="background-color: transparent !important;margin-left: 5px;font-weight: 400;border: none">Yes</ion-radio>
                       <ion-radio ng-model="user.person" ng-value="'person'" style="background-color: transparent !important;margin-left: 6px;font-weight: 400;border: none">No</ion-radio>

                        <input class="button button-block button-calm" ng-if="user.person" type="submit" value="SIGN UP" ng-disabled="loginForm.$invalid" style="border-radius: 0px;background-color: white;color: black"></input>
                        <input class="button button-block button-calm" ng-if="!user.person" type="submit" value="SIGN UP" ng-disabled="loginForm.$invalid" style="border-radius: 0px;background-color: white;color: black"></input>
                        <div ng-if="!user.person || user.person" style="font-weight:400;font-size:12px;color: white">By clicking sign up you are indicating have read the Privacy Policy and agree to the Terms of Use found at www.trainedtoglory.com.</div>
                    </div>
                </form>
            </ion-content>
        </div>
    </div>
</ion-view>
