
    <ion-content cache-view="false" scroll="false" class="auth">
      <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)">
      <div class="row row-no-padding category-2-outer" style="padding: 0; margin: 0;">
        <div class="col">
            <div class="category-2-item-wrapper">
              <div class="category-2-item-content">
                <div class = "multi-bg-outer" helper-class="category-with-image" style="background-image: url(img/juggler.jpg);">
                  <div class="logo">
                    <img src = "img/TTG-Symbol-2015-02.png">
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row text-center" style="color: white;top: 230px;position: absolute;">
          <div class="col">Sign Up</div>
          <div class="col" ui-sref="signin">Sign In</div>
        </div>
      </div>

      <div class="item no-padding" style="background-color: transparent;border-color: transparent;">
      <div class="row" style="width: 50%;border-bottom: 1px solid silver; margin:auto;">
        <label class="item item-input" style="border: none; margin-top:2px; text-align:center;width:100%;">
          <input type="text" style="text-align:center" placeholder="First Name" ng-model="user.firstName" validate>
        </label>
      </div>
      <div class = "row" style="width: 50%;border-bottom: 1px solid silver;margin:auto;">
        <label class="item item-input" style="border: none; margin-top:2px; text-align:center;width:100%;">
          <input type="text" style="text-align:center" placeholder="Last Name" ng-model="user.lastName" validate>
        </label>
      </div>
       <div class="row" style="width: 80%;border-bottom: 1px solid silver;margin:auto;">
         <label class="item item-input" style="border: none; margin-top:2px; text-align:center;width:100%;">
           <input type="text" style="text-align:center;" placeholder="User Name" ng-model="user.userName" validate>
         </label>
      </div>
      <div class="row" style="width: 90%;border-bottom: 1px solid silver;margin:auto;">
        <label class="item item-input" style="border: none; margin-top:2px; text-align:center;width:100%;">
          <input type="email" style="text-align:center;" placeholder="Email" ng-model="user.email" class="validate" ng-minlength="5" ng-maxlength="30" required>
        </label>
      </div>
      <div class="row" style="width: 50%;border-bottom: 1px solid silver;margin:auto;">
        <label class="item item-input" style="border: none; margin-top:2px; text-align:center;width:100%;">
          <input type="password" style="text-align:center" placeholder="Password" ng-model="user.password" class="validate" ng-minlength="5" ng-maxlength="30" required>
        </label>
      </div>
      <input type="submit" class="button button-block button-login button-positive" value="Sign Up" ng-disabled="loginForm.$invalid" style="border-radius: 50px;width: 50%;position: relative;margin-left: 95px;;margin-top: 4vh; display:block;">
    </div>
  </form>
    </ion-content>
