<ion-view hide-nav-bar = "true">
        <ion-slide-box on-slide-changed="slideChanged(index)" style="background-color: #fafafc; height: 100%">
          <ion-slide style="background-color: #fafafc">
            <div class="list card" style="box-shadow: none;margin-left:0;margin-right:0; margin: 0;">
              <div class="item item-image" style="max-height: 500px;">
                  <img ng-src="img/commit-party.jpg">
                </div>
              <div class="item item-avatar" style="border: none">
                <img ng-src="img/bg-m.jpg" style="background-color: transparent">
                <h2 style="color:black !important; font-weight: 400;">Jaylen</h2>
                <p style="color:black !important" class="font-thin">Commit to my dinner party</p>
                <p style="color:black !important" class="font-thin">Event</p>
                <p style="color:black !important" class="font-thin">Just Now</p>
              </div>
              <a class="item" style = "display: inline-flex;border: none">
                100 Commit
              </a>
              <a class="item" style = "display: inline-flex;border: none">
                20 Likes
              </a>
              <a class="item" style = "display: inline-flex; border: none;">
                5 Comment
              </a>
            </div>
            <h3 class="font-thin" style="margin-left: 20px;font-size:18px">Commit</h3>
          <p class = "font-thin" style="margin-left: 20px">
            Commit to event post and explore your community.
          </p>
            <div class="button font-thin" style="font-size:16px;display: inline-flex;bottom: 0;right: 0;margin-bottom: 15px;margin-left: 20px;z-index: 999;padding-left: 0;" ng-click="goToLogin()">Skip</div>
          </ion-slide>
          <ion-slide>
            <div class="list card image" style="box-shadow: none;margin-left: 0; margin-right: 0;margin-top: 0;">
                  <div class="item item-image">
                      <img ng-src="img/paint-house.jpeg" style="filter: brightness(100%) grayscale(0%);-webkit-filter: brightness(100%) grayscale(0%);">
                      <div class="item item-avatar" style="padding-left: 0; padding-right: 0;">
                        <ion-list>
                          <ion-item>
                            Paint the House
                          </ion-item>
                          <ion-item>
                            Start with the kitchen on friday.
                          </ion-item>
                        </ion-list>
                      </div>
                  </div>
              </div>

              <h3 class="font-thin" style="margin-left: 20px;font-size:18px">Create Goals</h3>
              <p class = "font-thin" style="margin-left: 20px">
                Create and stay on track with your goals.
              </p>
            <div class="button font-thin" style="font-size:16px;display: inline-flex;bottom: 0;right: 0;margin-bottom: 15px;margin-left: 20px;z-index: 999;padding-left: 0;" ng-click="goToLogin()">Skip</div>
          </ion-slide>
          <ion-slide on-swipe-left="goToLogin()">
            <div class="row row-no-padding category-2-outer" style="padding:0;overflow:scroll;" onSwipeRight="goToLogin()">
              <div class="col">
                  <div class="category-2-item-wrapper">
                    <div class="category-2-item-content">
                      <div class = "multi-bg-outer" multi-bg="[bg_img]" interval="3000" helper-class="category-with-image" style="background-image: url(img/fashion-train.jpg);">
                        <img bg="" class="multi-bg category-with-image" ng-src="img/fashion-train.jpg">
                        <span class="bg-overlay"></span>
                        <h1 class="category-heading" style="width: 80%">
                          <span>1
                            <span class="bubble"></span>
                          </span>
                          <span style="border-bottom: 1px solid #F10707;">Fashion</span>
                        </h1>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row row-no-padding category-2-outer" style="padding:0;overflow:scroll;" onSwipeRight="goToLogin()">
              <div class="col">
                  <div class="category-2-item-wrapper">
                    <div class="category-2-item-content">
                      <div class = "multi-bg-outer" multi-bg="[bg_img]" interval="3000" helper-class="category-with-image" style="background-image: url(img/food-train.jpeg);">
                        <img bg="" class="multi-bg category-with-image" ng-src="img/food-train.jpeg">
                        <span class="bg-overlay"></span>
                        <h1 class="category-heading" style="width: 80%">
                          <span>2
                            <span class="bubble"></span>
                          </span>
                          <span style="border-bottom: 1px solid #F10707;">Food & Drink</span>
                        </h1>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <h3 class="font-thin" style="margin-left: 20px;font-size:18px" on-swipe-left="goToLogin()">Connect</h3>
            <p class="font-thin" style="margin-left: 20px;" on-swipe-left="goToLogin()">
              Connect with people to help expand on your interest.
            </p>
            <div class="button font-thin" style="font-size:16px;display: inline-flex;bottom: 0;right: 0;margin-bottom: 15px;margin-left: 20px;z-index:999;padding-left: 0;" ng-click="goToLogin()">Skip</div>
          </ion-slide>
        </ion-slide-box>
      </ion-view>
