<ion-view hide-nav-bar = "true" cache-view="false">

  <ion-nav-bar>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-header-bar align-title="left" class="bar bar-header has-tabs-top" style="top: 0 !important;background: #fafafc !important;">
    <button style="display: block; transition-duration: 0ms;" ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="title title-left header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">Terms of Service</div>
  </ion-header-bar>

    <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper" style="width: 100%; height:100%; min-height: 100%">
    <!-- <div class="list">
        <div class="item item-divider" style="background-color: white; color: #F10707;">Profile</div>
          <div class="item" ui-sref="tabs.interest">Interest</div>
          <div class="item" ui-sref="tabs.status">Become a Leader</div>
        </div> -->

      <!-- <div class="list"> -->
           <!-- <div class="item item-divider" style="background-color: white; color: #F10707;font-family: limbus;">Help</div> -->
            <!-- <div> -->
              <!-- Privacy Policy -->
              <iframe src="http://www.trainedtoglory.com/terms-of-service" style="width: 100%; height:100%; min-height: 100%">
            </iframe>
            <!-- </div> -->
            <!-- <div class="item" ng-click="support()" ng-click="view.type = 2">
              Support

            </div>
            <div class="item" ng-click="service()" ng-click="view.type = 3">
              Terms of Service
            </div>
            <div class = "item" ng-click="logout()">Sign Out</div> -->
      <!-- </div> -->

    </ion-content>
</ion-view>
