<ion-view title="Terms of Service" class="font-thin">

    <ion-nav-buttons side = "left">
      <button class="button button-icon button-clear button-dark" ng-click="fullscreenPopover.show($event);">
         <img ng-src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
      </button>
    </ion-nav-buttons>

    <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper" style="width: 100%; height:100%; min-height: 100%">
    <!-- <div class="list">
        <div class="item item-divider" style="background-color: white; color: #F10707;">Profile</div>
          <div class="item" ui-sref="tabs.interest">Interest</div>
          <div class="item" ui-sref="tabs.status">Become a Leader</div>
        </div> -->

      <!-- <div class="list"> -->
           <!-- <div class="item item-divider" style="background-color: white; color: #F10707;font-family: limbus;">Help</div> -->
            <!-- <div> -->
              <!-- Privacy Policy -->
              <iframe src="https://www.trainedtoglory.com/terms-of-service" style="width: 100%; height:100%; min-height: 100%">
            </iframe>
            <!-- </div> -->
            <!-- <div class="item" ng-click="support()" ng-click="view.type = 2">
              Support

            </div>
            <div class="item" ng-click="service()" ng-click="view.type = 3">
              Terms of Service
            </div>
            <div class = "item" ng-click="logout()">Sign Out</div> -->
      <!-- </div> -->

    </ion-content>
</ion-view>
