
    <ion-content cache-view="false" class="auth">
      <form novalidate name="loginForm" ng-submit="loginForm.$valid && login(user)">
      <div class="row row-no-padding category-2-outer" style="padding: 0; margin: 0;">
        <div class="col">
            <div class="category-2-item-wrapper" style="padding-top:84.66%">
              <div class="category-2-item-content">
                <div class = "multi-bg-outer" helper-class="category-with-image" style="background-image: url(img/jump-water.jpg);">
                  <div class="logo">
                    <img src = "img/TTG-Logo-NowhiteOutline.png">
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row text-center" style="color: white;top: 304px;position: absolute;">
          <div class="col" ui-sref="authentication">Sign Up</div>
          <div class="col">Sign In</div>
        </div>
      </div>

      <div class="item no-padding" style="background-color: transparent;border-color: transparent;">
      <div class="row" style="width: 90%;border-bottom: 1px solid silver;margin:auto;">
        <label class="item item-input" style="border: none; margin-top:2px; text-align:center; width:100%;">
          <input type="email" style="text-align:center;" placeholder="Email" ng-model="user.email" class="validate" ng-minlength="5" ng-maxlength="30" required>
        </label>
      </div>
      <div class="row" style="width: 50%;border-bottom: 1px solid silver;margin:auto;">
        <label class="item item-input" style="border: none; margin-top:2px; text-align:center; width:100%;">
          <input type="password" style="text-align:center" placeholder="Password" ng-model="user.password" class="validate" ng-minlength="5" ng-maxlength="30" required>
        </label>
      </div>
      <input type="submit" class="button button-block button-login button-positive" value="Sign In" ng-disabled="loginForm.$invalid" style="border-radius: 50px;width: 50%;position: relative;margin-left: 103px;;margin-top: 4vh; display:block;">
    </form>
  </div>
      <h1 class = "font-thin" style="color: black;font-size:16px;text-align:center;" ui-sref="authentication"> Create a new account </h1>
      <h2 class = "font-thin" style="color: black;font-size:16px;text-align:center;" ng-click="openForgot()"> Forgot </h2>
    </ion-content>
