<ion-view cache-view="false" class="font-thin" view-title="Profile" hide-nav-bar="true">
    <div class="row view-tab text-center" style="font-size:16px">
        <div class="col font-thin" ui-sref="edit-profile">Edit</div>
        <div class="col font-thin" ui-sref="communicate">Notifications</div>
        <div class="col font-thin" ui-sref="settings">Settings</div>
    </div>
    <ion-content class="has-header bt-grey profile" on-swipe-right="onSwipeRight()" style="top: 75px">
    <div style="height:100%; overflow:scroll" class="bg-lightgrey">
        <div class="list card header profile" style="background: transparent; box-shadow: none">
          <div class="item-avatar" style="padding-left:0;">
            <img class="header__thumb" style="max-width: 120px; top: 0; left: 0; max-height: 120px;" ng-src = "{{profile.userPhoto}}">
          </div>
            <h2 class="lead text-medium">{{ profile.userName }}</h2>
            <p style="text-align: center;margin-left: 5px;margin-right: 5px;">{{profile.userDescription}}</p>
        </div>

        <div class="row no-padding bb-grey text-center" style="text-transform: capitalize;" >
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : view.type === 1 || view.type === 4}" ng-click="view.type = 1">{{userTotalPost}}<br/>Posts</div>
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : view.type === 2 || view.type === 5}" ng-click="view.type = 2">{{userTotalCommits}}<br/>Commits</div>
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : view.type === 3}"  ng-click="view.type = 3">{{userPartners}}<br/>Friends</div>
        </div>

        <div class="list card profile" style="background: transparent; height:100%; box-shadow: none;height:100%;">
         <div ng-if="view.type === 1">
            <div class="item item-divider">
                PHOTOS
                <span class="item-note" ng-click = "view.type = 4">
                    <a class="button button-calm profile" style="border-color: #F10707; background-color: #F10707;">More</a>
                </span>
            </div>
              <div class="row row-no-padding category-2-outer" ng-repeat="posts in userPosts.itemsArr" ng-if="$index % 2 == 0">
                <div class="col" style="padding: 5px !important">
                  <a ui-sref="post-detail({post:userPosts.itemsArr[$index].key})">
                    <div class="category-2-item-wrapper">
                      <div class="category-2-item-content">
                        <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index].photo}}); background-color: transparent;z-index:5;">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col" style="padding: 5px !important ">
                  <a ui-sref="post-detail({post:userPosts.itemsArr[$index+1].key})">
                    <div class="category-2-item-wrapper">
                      <div class="category-2-item-content">
                        <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index+1].photo}}); background-color: transparent;z-index:5;">
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
          </div>

        <div ng-if="view.type === 4" style="height:100%;">
                <div style="height: 700px">
                    <div class="row row-no-padding category-2-outer" ng-repeat="userPost in userPosts.itemsArr" ng-if="$index % 3 == 0">
                      <div class="col" style="padding: 5px !important">
                        <a ui-sref="post-detail({post:userPosts.itemsArr[$index].key})">
                          <div class="category-2-item-wrapper">
                            <div class="category-2-item-content">
                              <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index].photo}}); background-color: transparent;z-index:5">
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col" style="padding: 5px !important ">
                        <a ui-sref="post-detail({post:userPosts.itemsArr[$index+1].key})">
                          <div class="category-2-item-wrapper">
                            <div class="category-2-item-content">
                              <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index+1].photo}}); background-color: transparent;z-index:5">
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col" style="padding: 5px !important ">
                        <a ui-sref="post-detail({post:userPosts.itemsArr[$index+2].key})">
                          <div class="category-2-item-wrapper">
                            <div class="category-2-item-content">
                              <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index+2].photo}}); background-color: transparent;z-index:5">
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                </div>
            </div>

    <div ng-if="view.type === 2" style="height:100%;">

           <div class="item item-divider">
                COMMITS
                <span class="item-note" ng-click = "view.type = 5">
                    <a class="button button-calm profile" style="border-color: #F10707; background-color: #F10707;">More</a>
                </span>
            </div>
                  <div class="row row-no-padding category-2-outer" ng-repeat="userCommit in userCommits.itemsArr" ng-if="$index % 2 == 0">
                    <div class="col" style="padding: 5px !important">
                      <a ui-sref="post-detail({post:userCommits.itemsArr[$index].key})">
                        <div class="category-2-item-wrapper">
                          <div class="category-2-item-content">
                            <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index].photo}}); background-color: transparent;z-index:5">
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col" style="padding: 5px !important ">
                      <a ui-sref="post-detail({post:userCommits.itemsArr[$index+1].key})">
                        <div class="category-2-item-wrapper">
                          <div class="category-2-item-content">
                            <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index+1].photo}}); background-color: transparent;z-index:5">
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
    </div>

          <div ng-if="view.type === 5" style="height:100%;">
                      <div class="row row-no-padding category-2-outer" ng-repeat="userCommit in userCommits.itemsArr" ng-if="$index % 3 == 0">
                        <div class="col" style="padding: 5px !important">
                          <a ui-sref="post-detail({post:userCommits.itemsArr[$index].key})">
                            <div class="category-2-item-wrapper">
                              <div class="category-2-item-content">
                                <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index].photo}}); background-color: transparent;z-index:5">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="col" style="padding: 5px !important ">
                          <a ui-sref="post-detail({post:userCommits.itemsArr[$index+1].key})">
                            <div class="category-2-item-wrapper">
                              <div class="category-2-item-content">
                                <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index+1].photo}}); background-color: transparent;z-index:5">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="col" style="padding: 5px !important ">
                          <a ui-sref="post-detail({post:userCommits.itemsArr[$index+2].key})">
                            <div class="category-2-item-wrapper">
                              <div class="category-2-item-content">
                                <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index+2].photo}}); background-color: transparent;z-index:5">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                </div>

        <div ng-if="view.type === 3" style="background: transparent; box-shadow: none">
            <div class="item item-divider">
                FRIENDS
                <span class="item-note" ui-sref = "partners({partner:profile.userId})">
                    <a class="button button-calm profile" style="border-color: #F10707; background-color: #F10707;">Find More</a>
                </span>
            </div>
              <div class="item item-avatar item-button-right followers" ui-sref="friend({contact:value.userId})" ng-repeat="value in contacts.itemsArr">
                <img ng-src="{{value.userPhoto}}">
                <h2 class="font-thin">{{value.userName}}</h2>
            </div>

            </div>
        </div>
      </div>
      <ion-infinite-scroll on-infinite="loadMore() && loadMoreUserCommits() && loadMorePartnerPost() && loadMoreContacts()" ng-if="!moreToScroll" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
