<ion-view hide-nav-bar="true" class="bg-lightgrey">

    <ion-header-bar style="background-color: transparent">
        <div class="row text-center">
            <div class="col font-thin text-large dark" ui-sref="settings" style="color:gray;">Cancel</div>
            <div class="col font-thin text-large balanced bl-grey profile" style="color:green;" ng-click="save()">Save</div>
        </div>
    </ion-header-bar>

    <ion-content class="profile has-header bt-grey">
        <p class="bb text-smaller padding-horizontal uppercase" style="border-bottom: 2px solid">info</p>
        <div class="edit padding-horizontal">
            <label class="item item-input profile__input">
                <input type="text" value="{{ profile.firstName }}" name="firstName">
                <span class="input-label">First name</span>
            </label>
            <label class="item item-input profile__input">
                <input type="text" value="{{ profile.lastName }}"  name="lastName">
                <span class="input-label">Last name</span>
            </label>
            <label class="item item-input profile__input">
                <input type="text" value="{{ profile.userName }}" name="userName" label="Username" required>
                <span class="input-label">Username</span>
            </label>
            <label class="item item-input profile__input">
                <input type="email" value="{{ profile.email }}" name="email" label="Email" required>
                <span class="input-label">Email</span>
            </label>
        </div>


            <p class="bb text-smaller padding-horizontal uppercase" style="border-bottom: 2px solid">password</p>
            <div class="edit padding-horizontal">
                <label class="item item-input profile__input">
                    <input type="password" name="oldPassword">
                    <span class="input-label" ng-model="changePasswordData.oldPassword">old password</span>
                </label>
                <label class="item item-input profile__input">
                    <input type="password" name="newPassword">
                    <span class="input-label" ng-model="changePasswordData.newPassword">new password</span>
                </label>
                <label class="item item-input profile__input">
                    <input type="password" name="confirmNewPassword">
                    <span class="input-label" ng-click="doChangePassword()">confirm new password</span>
                </label>
            </div>

        <p class="bb text-smaller padding-horizontal uppercase" style="border-bottom: 2px solid">Interests</p>
        <div class="edit padding-horizontal" ng-repeat="interest in contacts" style="display: inline-flex;font-size:14px;">
          <div class="button font-thin" style = "background-color: transparent; color: black; font-size: 14px; z-index: 999; margin-bottom: 5px; margin-top: 10px;border-color: #F10707;min-height: 0; min-width: 0;border-width: 0;line-height:0">
            {{interest.displayName}}
          </div>
        </div>
        <div class="edit padding-horizontal font-thin" style="margin-top: 20px;font-size: 14px;">
          <a href="" ui-sref="interest"><div ng-click="setPrevScope('user')">Edit Interests</div></a>
        </div>

        <p class="bb text-smaller padding-horizontal uppercase" style="border-bottom: 2px solid">Description</p>
        <div class="edit padding-horizontal">
          <label class="item item-input profile__input">
                <input type="text" value="{{ profile.userDescription }}" name="userDescription">
                <span class="input-label">Description</span>
          </label>
        </div>

    </ion-content>
</ion-view>
