<ion-view title="Profile">

    <ion-nav-buttons side = "left">
      <button class="button button-icon button-clear button-dark" ng-click="fullscreenPopover.show($event);">
            <img src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
         </button>
    </ion-nav-buttons>

    <ion-content class="has-header bt-grey profile" scroll="false">
        <div class="row text-center">
            <div class="col font-thin" ng-click="gotoBrowse()">Browse</div>
            <div class="col font-thin" ng-click="gotoAccounts()">Profile</div>
            <div class="col font-thin" ng-click="gotoCoaches()">Trainers</div>

        </div>
    <div style="height:100%; overflow:scroll" class="bg-lightgrey">

        <div class="header">
            <img ng-src="{{ones.userPhoto}}">
            <h2 class="lead text-medium">{{ones.userName}}</h2>
            <p style="text-align: center;margin-left: 5px;margin-right: 5px;">{{ones.userDescription}}</p>
            <button class="button button-small icon " ng-class="{'button-balanced button-outline ion-ios-personadd-outline': !ones.partnered, 'button-balanced ion-ios-undo-outline':ones.partnered }" ng-click="togglePartner(ones.userId)">
                <span ng-if="!ones.partnered"> Partner</span>
                <span ng-if="ones.partnered"> Partnered</span>
            </button>

        </div>

        <div class="row no-padding bb-grey text-center" style="text-transform: capitalize;">
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : profile.type === 1 || profile.type === 4}" ng-click="profile.type = 1">{{userTotalPost}}<br/>Posts</div>
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : profile.type === 2 || profile.type === 5}" ng-click="profile.type = 2">{{userTotalCommits}}<br/>Commits</div>
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : profile.type === 3}" ng-click="profile.type = 3">{{userPartners}}<br/>Partners</div>
        </div>

        <div class="list profile" style="height:100%;">
         <div ng-if="profile.type === 1">
            <div class="item item-divider">
                PHOTOS
                <span class="item-note" ng-click="profile.type = 4">
                    <a class="button button-calm profile" style="border-color: #F10707; background-color: #F10707;">More</a>
                </span>
            </div>
            <div class="photos" ng-if = "userPost.photo" ng-repeat = "(userId, userPost) in userPosts | limitTo:4">
                <div class="row">
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                                <div class = "img" style="background-image:url{{userPost.photo}}"></div>
                                <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                                <div class = "img" style="background-image:url{{userPost.photo}}"></div>

                                   <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                                <div class = "img" style="background-image:url{{userPost.photo}}"></div>
                                <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                                <div class = "img" style="background-image:url{{userPost.photo}}"></div>
                               <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="profile.type === 4" style="height:100%;">
                <div style="height: 700px">
                    <div class="row post" ng-repeat = "(userId, userPost) in userPosts">
                        <div class="col" ui-sref="tabs.post-detail"><img ng-src="{{userPost.photo}}" /></div>
                        <div class="col" ui-sref="tabs.post-detail"><img ng-src="{{userPost.photo}}" /></div>
                        <div class="col" ui-sref="tabs.post-detail"><img ng-src="{{userPost.photo}}" /></div>
                    </div>
                </div>
            </div>

    <div ng-if="profile.type === 2" style="height:100%;">

           <div class="item item-divider">
                COMMITS
                <span class="item-note" ng-click="profile.type = 5">
                    <a class="button button-calm profile" style="border-color: #F10707; background-color: #F10707;">More</a>
                </span>
            </div>
            <div class="photos" ng-repeat = "(key,userCommit) in userCommits | limitTo:4">
                <div class="row">
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                                <div><img src = "{{ userCommit.photo }}"></div>
                                <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                              <div><img src = "{{ userCommit.photo }}"></div>
                                   <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                              <div><img src = "{{ userCommit.photo }}"></div>
                                <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col" ui-sref="tabs.post-detail">
                        <div class="item item-image profile">
                            <div class="cont-photo">
                              <div><img src = "{{ userCommit.photo }}"></div>
                               <div class="bg-color profile"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div ng-if="profile.type === 5" style="height:100%;">
                <div style="height: 700px">
                    <div class="row post" ng-repeat = "(userId, userCommit) in userCommits">
                        <div class="col" ui-sref="tabs.post-detail"><img ng-src="{{userCommit.photo}}" /></div>
                        <div class="col" ui-sref="tabs.post-detail"><img ng-src="{{userCommit.photo}}" /></div>
                        <div class="col" ui-sref="tabs.post-detail"><img ng-src="{{userCommit.photo}}" /></div>
                    </div>
                </div>
            </div>

        <div ng-if="profile.type === 3" style="height:100%;">
            <div class="item item-divider">
                PARTNERS
                <span class="item-note" ui-sref="tabs.partners({partner:ones.userId})">
                    <a class="button button-calm profile" style="border-color: #F10707; background-color: #F10707;">More</a>
                </span>
            </div>
            <pre> {{contacts | json}}</pre>
            <div class="item item-avatar item-button-right followers" ng-repeat="(key,contact) in contacts.items">
                        <img ng-src="{{contact.photo}}">
                        <h2 class="font-thin">{{contact.name}}</h2>
                        <p>{{contact.city}}</p>
                        <button class="button button-small button-balanced icon ion-ios-checkmark-empty"> Partnered</button>
                        <button class="button button-small button-balanced button-outline icon ion-ios-personadd-outline"> Partner</button>
            </div>

            </div>
        </div>

        </div>
    </ion-content>
</ion-view>
