<ion-view title="Profile" class="font-thin" hide-nav-bar="true">
  <!-- <ion-nav-bar>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-buttons side = "right">
    <button class="button button-small icon " style = "min-width: 100px" ng-class="{'button ion-ios-plus-outline': ones.partnered, 'button ion-ios-checkmark-outline':!ones.partnered }" ng-click="togglePartner(ones.userId)">
    </button>
  </ion-nav-buttons> -->

   <div class = "tabs tabs-icon-top tabs-striped tabs-color-active-assertive" style="top: 0 !important;height: 65px !important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);">
      <a class = "bar-subheader tab-item" style="background: #fafafc !important;border-top: none" icon ="ion-ios-home" ui-sref = "tabs.news">
         <i class = "icon ion-ios-home" style="margin-top: 14px;"></i>
      </a>

      <a class = "bar-subheader tab-item" style="background: #fafafc !important;border-top: none" icon ="ion-ios-search" ui-sref = "tabs.explore">
         <i class = "icon ion-ios-search" style="margin-top: 14px;"></i>
      </a>

      <a class = "bar-subheader tab-item" style="background: #fafafc !important;border-top: none" icon ="ion-ttg-icon" ui-sref = "tabs.match">
         <i class = "icon ion-ttg-icon" style="margin-top: 14px;"></i>
      </a>

      <a class = "bar-subheader tab-item" style="background: #fafafc !important;border-top: none" icon ="ion-ios-star" ui-sref = "tabs.sentPlans">
         <i class = "icon ion-ios-star" style="margin-top: 14px;"></i>
      </a>
      <a class = "bar-subheader tab-item" style="background: #fafafc !important;border-top: none" icon ="ion-android-person" ui-sref = "tabs.account">
         <i class = "icon ion-android-person" style="margin-top: 14px;"></i>
      </a>
   </div>

    <ion-content class="has-header bt-grey" scroll="true">
    <div style="height:100%; overflow:scroll" class="bg-lightgrey">
      <div class="list card" style="box-shadow: none;margin-left:0;margin-right:0;margin: 0;height: 419px;">
        <div class="item profile item-image bg-image" style="max-height: 400px;background-image: url({{ones.userPhoto}})" fallback-src="img/profile-picture.png">
          <div class = "row" style="position: inherit;bottom: 9px;">
          <ion-list>
            <ion-item ng-if= "!ones.fullName" style="border:none;padding-bottom: 5px;background-color: transparent !important;left: 0;font-size: 20px;color:white; font-weight: 700;letter-spacing: 1.2px;">
              {{ones.firstName + " " + ones.lastName }}
            </ion-item>
            <ion-item ng-if= "ones.fullName" style="border:none;background-color: transparent !important;left: 0;font-size: 20px;font-weight: 700;color: white;letter-spacing: 1.2px;">
              {{ones.fullName }}
            </ion-item>
            <ion-item style="left: 0;border:none;text-align: left;font-weight: 500;padding-top: 0px;padding-bottom: 0px;background-color: transparent !important;font-size: 12px;letter-spacing: 1px;color: white">
              {{ones.userName }}
            </ion-item>
          </ion-list>
          </div>
      </div>
    </div>

      <!-- <div class = "button button-clear icon ion-ios-gear profile-settings" ui-sref="settings" style="width: 100%">Settings</div> -->
      <button class="button button-small icon " ng-class="{'button-balanced button-outline ion-ios-personadd-outline': !ones.partnered, 'button-balanced ion-ios-undo-outline':ones.partnered }" ng-click="togglePartner(profile.userId)" style="display: block;position: relative;margin: 0 auto;width: 40%;border-radius: 50px;margin-bottom: 20px;">
          <span ng-if="!ones.partnered"> Friend</span>
          <span ng-if="ones.partnered"> Friend</span>
      </button>
      <div ng-if = "ones.userDescription" style="text-align: center; margin-top: 20px;max-height: 100px;margin-bottom: 5px;margin-left: 30px;margin-right: 30px;line-height: 25px;">{{ ones.userDescription }}</div>


        <div class="row no-padding bb-grey text-center" style="text-transform: capitalize;">
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : view.type === 1}" ng-click="view.type = 1">{{userTotalPost}}<br/>Posts</div>
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : view.type === 2}" ng-click="view.type = 2">{{userTotalCommits}}<br/>Commits</div>
            <div class="col font-thin" ng-class="{'text-medium balanced bb' : view.type === 3}" ng-click="view.type = 3">{{userPartners}}<br/>Friends</div>
        </div>

        <div class="list card profile" style="background: transparent; height:100%; box-shadow: none;height:100%;">
          <div ng-if="view.type === 1" style="height:100%;">
            <div ng-if="userTotalPost == 0" class = "noCommits">
            This user has no post yet.
            </div>
                  <div style="height: 700px">
                      <div class="row row-no-padding category-2-outer" ng-repeat="userPost in userPosts.itemsArr" ng-if="$index % 3 == 0">
                        <div class="col" style="padding: 5px !important">
                          <a ui-sref="post-detail({post:userPosts.itemsArr[$index].key})">
                            <div class="category-2-item-wrapper">
                              <div class="category-2-item-content">
                                <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index].photo}}); background-color: transparent;z-index:5">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="col" style="padding: 5px !important ">
                          <a ui-sref="post-detail({post:userPosts.itemsArr[$index+1].key})">
                            <div class="category-2-item-wrapper">
                              <div class="category-2-item-content">
                                <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index+1].photo}}); background-color: transparent;z-index:5">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="col" style="padding: 5px !important ">
                          <a ui-sref="post-detail({post:userPosts.itemsArr[$index+2].key})">
                            <div class="category-2-item-wrapper">
                              <div class="category-2-item-content">
                                <div class = "multi-bg-outer" style="background-image: url({{userPosts.itemsArr[$index+2].photo}}); background-color: transparent;z-index:5">
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                  </div>
              </div>

    <div ng-if="view.type === 2" style="height:100%;">
      <div ng-if="userTotalCommits == 0" class = "noCommits">
      This user has not commited to any events yet.
      </div>
                <div class="row row-no-padding category-2-outer" ng-repeat="userCommit in userCommits.itemsArr" ng-if="$index % 3 == 0">
                  <div class="col" style="padding: 5px !important">
                    <a ui-sref="post-detail({post:userCommits.itemsArr[$index].key})">
                      <div class="category-2-item-wrapper">
                        <div class="category-2-item-content">
                          <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index].photo}}); background-color: transparent;z-index:5">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col" style="padding: 5px !important ">
                    <a ui-sref="post-detail({post:userCommits.itemsArr[$index+1].key})">
                      <div class="category-2-item-wrapper">
                        <div class="category-2-item-content">
                          <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index+1].photo}}); background-color: transparent;z-index:5">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col" style="padding: 5px !important ">
                    <a ui-sref="post-detail({post:userCommits.itemsArr[$index+2].key})">
                      <div class="category-2-item-wrapper">
                        <div class="category-2-item-content">
                          <div class = "multi-bg-outer" style="background-image: url({{userCommits.itemsArr[$index+2].photo}}); background-color: transparent;z-index:5">
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
          </div>

          <div ng-if="view.type === 3" style="background: transparent; box-shadow: none">
            <div ng-if="userPartners == 0" class = "noCommits">
            This user has no friends yet.
            </div>
              <div class="item item-divider" ng-if="userPartners > 0">>
                FRIENDS
                <span class="item-note" ui-sref = "friendPartners({friendPartner:profile})">
                    <a class="button button-calm profile" style="border-color: #F10707; background-color: #F10707;">More</a>
                </span>
            </div>
            <div class="item item-avatar item-button-right followers" ui-sref="friend({contact:value.userId})" ng-repeat="value in contacts.itemsArr">
                <img ng-src="{{value.userPhoto}}">
                <h2 class="font-thin">{{value.userName}}</h2>
            </div>

            </div>
          </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMoreContacts() && loadMorePartnerPost() && loadMoreUserCommits() && loadMore()" ng-if="!moreToScroll" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
