<ion-view title="Partners">

    <ion-nav-buttons side = "left">
      <button class="button button-icon button-clear button-dark" ng-click="fullscreenPopover.show($event);">
         <img src="img/TTG-Symbol-2015-02.png" style="position: relative;top: 2px;height: 29px;left: 5px;">
      </button>
    </ion-nav-buttons>

    <ion-content class="has-header">
      <div class="item item-avatar item-button-right followers" ng-repeat="(key,value) in contacts.items">
          <img ng-src="{{value.userPhoto}}">
          <h2 class="font-thin">{{value.userName}}</h2>
          <button class="button button-small button-balanced icon ion-ios-checkmark-empty"> Partnered</button>
          <button class="button button-small button-balanced button-outline icon ion-ios-personadd-outline"> Partner</button>
      </div>

    </ion-content>
</ion-view>
