<ion-view title="Notifications" scroll="true" hide-nav-bar="true">
  <ion-nav-bar>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-header-bar align-title="left" class="bar bar-header has-tabs-top" style="top: 0 !important;">
    <button style="display: block; transition-duration: 0ms;" ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="title title-left header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">Notifications</div>
  </ion-header-bar>


    <ion-content class="has-header bt-grey profile">

      <div class="list">
          <div class="item item-avatar item-text-wrap" style="border-color: #fafafc;" ng-repeat = "plan in userPostsLikes.itemsArr | limitTo: limit">
              <img ng-src="{{plan.userPhoto}}">
              <h2 class="lead">{{plan.userName}}</h2>
              <p>Liked your plan</p>
              <p class="text-smaller" am-time-ago="{{plan.date}}"></p>
          </div>
      </div>

          <div class="list">
              <div class="item item-avatar item-text-wrap" style="border-color: #fafafc;" ng-repeat = "commits in userPlanCommits.itemsArr | limitTo: limit">
                  <img ng-src="{{commits.userPhoto}}">
                  <h2 class="lead">{{commits.userName}}</h2>
                  <p>Commited to your plan</p>
                  <p class="text-smaller" am-time-ago="{{commits.date}}"></p>
              </div>
          </div>

          <div class="list">
              <div class="item item-avatar item-text-wrap" style="border-color: #fafafc;" ng-repeat = "commits in userPostCommits.itemsArr | limitTo: limit">
                  <img ng-src="{{commits.userPhoto}}">
                  <h2 class="lead">{{commits.userName}}</h2>
                  <p>Commited to your post</p>
                  <p class="text-smaller" am-time-ago="{{commits.date}}"></p>
              </div>
          </div>

          <div class="list">
              <div class="item item-avatar item-text-wrap" style="border-color: #fafafc;" ng-repeat = "appointment in userAppointmentCommits.itemsArr | limitTo: limit">
                  <img ng-src="{{appointment.userPhoto}}">
                  <h2 class="lead">{{appointment.userName}}</h2>
                  <p>Commited to your appointment</p>
                  <p class="text-smaller" am-time-ago="{{appointment.date}}"></p>
              </div>
          </div>
          <ion-infinite-scroll on-infinite="loadMore() && loadMorePostCommits() && loadMoreCommits()" ng-if="!moreToScroll" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
