<ion-view title="Settings" hide-nav-bar="true" cache-view="false">

  <ion-header-bar align-title="left" class="bar bar-header has-tabs-top" style="top: 0 !important;background: #fafafc !important;">
    <button style="display: block; transition-duration: 0ms;" ng-click="$ionicGoBack()" class="button back-button hide buttons  button-clear header-item">
      <i class="icon ion-android-arrow-back"></i>
      <span class="back-text" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);"></span>
    </button>
    <div class="title title-left header-item" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">Settings</div>
  </ion-header-bar>

    <ion-content class="has-header" style="top: 44px;">
    <div class="list" style="margin-bottom: 10px; border: none">
        <div class="item item-divider" style="background-color: white; font-weight: 400;" style="border: none">Profile</div>
        <div class="item" ui-sref="edit-profile" style="border: none">Edit profile</div>
          <div class="item" ng-click="interests({location: 'Profile'})" style="border: none">Update interest</div>
          <div class="item" ng-click = "share()" style="border: none">Share this app</div>
        </div>

      <div class="list">
           <div class="item item-divider" style="background-color: white; font-weight: 400;font-family: limbus;border:none;">Help</div>
            <div class="item" ng-click="policy()" style="border: none">
              Privacy Policy
            </div>
            <div class="item" ng-click="service()" style="border: none">
              Terms of Service
            </div>
            <div class="item" ng-click="support()" style="border: none">
              Support
            </div>
            <div class = "item" ng-click="logout()" style="border: none">Sign Out</div>
      </div>

    </ion-content>
</ion-view>
