<ion-view title="Settings" class="font-thin">
  <ion-nav-bar>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
  </ion-nav-bar>

    <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
    <div class="list">
        <div class="item item-divider" style="background-color: white; color: #F10707;">Profile</div>
          <div class="item" ui-sref="interest">Interest</div>
          <div class="item" ui-sref="status">Update status</div>
        </div>

      <div class="list">
           <div class="item item-divider" style="background-color: white; color: #F10707;font-family: limbus;">Help</div>
            <div class="item" ng-click="policy()">
              Privacy Policy
            </div>
            <div class="item" ng-click="support()">
              Support

            </div>
            <div class="item" ng-click="service()">
              Terms of Service
            </div>
            <div class = "item" ng-click="logout()">Sign Out</div>
      </div>

    </ion-content>
</ion-view>
