<ion-view hide-nav-bar="true" style="background:url('img/TTG-CollageImage.png') center; background-size: cover;">

    <ion-content padding="true" class="has-header materialize">
        <div class="container" style="width:100%">
            <div class="text-center" style="margin-right:12px;"><img src="img/TTG-Symbol-2015-02.png" class="text-center" style="width:20%;" /></div>
        </div>
        <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)">

        <div class="item no-padding" style="background-color: transparent;border-color: transparent;">
            <div class="row">
                <div class="input-field col">
                    <input id="first_name" type="text" ng-model="user.firstName" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col">
                    <input id="last_name" type="text" ng-model="user.lastName" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
             <div class="row">
                <div class="input-field col">
                    <input id="user_name" type="text" ng-model="user.userName" class="validate" required>
                    <label for="user_name">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input name="email" type="email" ng-model="user.email" class="validate" ng-minlength="5" ng-maxlength="30" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col">
                    <input name="password" type="password" class="validate" ng-model="user.password" ng-minlength="5" ng-maxlength="30" required>
                    <label for="password">Password</label>
                </div>
            </div>

            <ion-label>Would you like to be considered a leader?</ion-label>
            <ion-radio ng-model="user.leader" ng-value="'yes'">Yes</ion-radio>
            <ion-radio ng-model="user.person" ng-value="'no'">No</ion-radio>

            <div class="row row-login" ng-if="user.person">
                <div class="col col-login"></div>
                 <input type="submit" value="NEXT" class="button button-block button-positive" ng-disabled="registerForm.$invalid" style="background-color:transparent;border-color:transparent;color: #F10707;margin-left: 33vh;" ui-sref="tabs.rather"/>
            </div>
            <div class="row row-login" ng-if="user.leader">
                <div class="col col-login"></div>
                 <input type="submit" value="NEXT" class="button button-block button-positive" ng-disabled="registerForm.$invalid" style="background-color:transparent;border-color:transparent;color: #F10707;margin-left: 33vh;" ui-sref="tabs.roleRather"/>
            </div>
        </form>

    </ion-content>

</ion-view>
