<ion-view title="Update Status" class="font-thin">
  <ion-nav-bar>
    <ion-nav-back-button style="display: block">
    </ion-nav-back-button>
  </ion-nav-bar>

    <ion-content class="has-header">
      <ion-label style="margin-left:60px;margin-top:6px;">Would you like to be considered a leader?</ion-label>
      <ion-radio ng-model="user.leader" ng-value="'yes'" style="width:30%;border-color: #fafafc;margin-left:166px;">Yes</ion-radio>
      <ion-radio ng-model="user.person" ng-value="'no'" style="width:30%;border-color: #fafafc;margin-left:166px;">No</ion-radio>

	     <div class="row row-login">
            <div class="col col-login"></div>
            <div class="col col-login" style="margin-left: 31vh;" ui-sref="tabs.settings">NEXT</div>
      </div>
    </ion-content>
</ion-view>
