.bar.bar-light .title
{
	color: black;
	font-weight: 300;
}

.ion-ios-arrow-back {
	color: grey;
}

.ion-android-arrow-back {
	color: black;
}

.ion-record {
	font-size: 7px;
}
.text-center{
	background-color: #fafafc;
}

.ion-checkmark-round
{
	color: white;
}

.tab-nav {
	background: #fafafc !important;
}

.bg-color {
    background: linear-gradient(rgba(135, 103, 211, 0.8), rgba(21, 21, 21, 0.8));
    background: -webkit-linear-gradient(rgba(150, 147, 147, 0.65), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
}

.feed-card .postCreated {
    margin-left: -27px !important;
    margin-top: 47px !important;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0px;
    color: rgba(26, 26, 26, 0.8);
}

.button.button-balanced
{
	background-color: #F10707;
	color: white;
}
.multi-bg-outer.finish-loading {
    background-color: transparent;
}
.category-with-image{
	background-color: transparent;
	position: relative;
	background-color: rgba(199, 199, 199, 0.7);
	height: 100%;
	-webkit-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
}

.category-2-outer {
    padding: 1px 0px;
    margin: 0px;
}

.multi-bg-outer.finish-loading {
    background-color: transparent !important;
}

.multi-bg-outer .multi-bg {
    display: none;
}

.multi-bg-outer .bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(102, 102, 102, 0.8);
    z-index: -1;
    opacity: 0.6;
}

.multi-bg-outer {
    position: relative;
    background-color: rgba(199, 199, 199, 0.7);
    height: 100%;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}
.button.button-balanced.activated
{
	background-color: #F10707;
	color: white;
}

.category-1-outer .category-1-item-wrapper {
    padding-top: 50%;
    height: 0px;
    position: relative;
}

.category-1-outer {
    padding: 1px 0px;
    margin: 0px;
}

.category-1-outer .category-1-item-wrapper .category-heading.dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
}

.category-1-outer .category-1-item-wrapper .category-heading .callout {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.8);
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    padding: 7px;
		z-index: 5;
}

.category-1-outer .category-1-item-wrapper .category-heading .main-title {
    padding: 10px;
}

.category-1-outer .category-1-item-wrapper .category-heading.dark .subtitle {
    color: #FFFFFF;
}

.category-1-outer .category-1-item-wrapper .category-heading .subtitle {
    font-size: 12px;
    color: rgba(102, 102, 102, 0.8);
    font-style: italic;
    padding: 0 10px 10px 10px;
}

.category-1-outer .category-1-item-wrapper .category-heading {
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    text-align: left;
    margin: 0px;
    position: absolute;
    width: 60%;
    right: 0px;
    bottom: 20px;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.category-1-outer .category-1-item-wrapper .category-1-item-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
		z-index: 1;
}

.button.button-calm.profile
{
	color: white;
	border-color: transparent;
	font-size: 14px;
    line-height: 30px;
    min-height: 30px;
    border-radius: 20px;
}

.photos {
    padding-right: 0;
    padding-top: 0;
}

.list .photos .row
{
	padding: 0;
	margin: 0;
	padding-right: 0;
	padding-top: 0;
	margin-right: 0px;
}

.list .photos .row .col
{
	padding: 0;
}

.item-image.profile
{
	text-align: center;
	border: 0;
	padding-right: 0px;
	padding-top: 0px;

}

.list .photos .row .col .item .cont-photo
{
	position: relative;
	height: 160px;
	width: 100%;
}

.overlay.dance
{
	color: white;
	text-align: center;
	font-size: 28px;
	height: 115px;
	position: relative;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}
.card.title.dance
{
	background-image: url(../img/dance.png);
}

.list .photos .row .col .item .photo-actions
{
	bottom: 10px;
	color: white;
	font-size: 14px;
	position: absolute;
	text-align: center;
	width: 100%;
}


/* Profile */

.profile .header
{
	text-align: center;
}
.profile .header.edit:before
{
	color: white;
}
.profile .header img.header__thumb
{
	margin: 0 auto;
}

/* Edit Profile */

.profile .header.edit
{
	position: relative;
	height: auto;
}
.profile .header.edit:before
{
	position: absolute;
	color: #fff;
	bottom: 24px;
	top: auto;
	left: auto;
}

.profile .header.profile:before
{
	position: absolute;
	color: #fff;
	bottom: 24px;
	top: auto;
	left: auto;
	display: none;
}
.profile .header img,
.profile .header.edit img
{
	position: relative;
	height: 120px;
	width: 120px;
	margin: 8px auto;
}

.profile .edit .profile__input
{
	display: block;
	text-align: left;
	width: 100%;
	border: none;
}

.profile .edit .profile__input input
{
	display: block;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
.profile .edit .profile__input .input-label
{
	display: block;
	width: 100%;
	border: none;
	font-style: italic;
}

/*Edit Event*/
.event-form .edit .event__input
{
	display: block;
	text-align: left;
	width: 100%;
	border: none;
	padding-top: 0;
}

.event-form .edit .event__input input
{
	display: block;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #ccc;
}
.event-form .edit .event__input .input-label
{
	display: block;
	width: 100%;
	border: none;
	font-style: italic;
}


/* Post Items */
.card.image .item.item-image {
    background: #919191;
}
.card.image .item.item-avatar
{
	position: relative;
	background: #919191;
}
.card.image .item.item-image .interact {
	z-index: 3;
}

.view-browse .btn-floating.btn-large i{
	background: rgb(53, 54, 53);
}

.balanced, a.balanced
{
	color: green;
}


.category-1-outer .category-1-item-wrapper .category-heading.notifications {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
		text-align: right;
}

.ion-TTC-SVG_File_grey:before {
    content: "\e900";}

.category-1-outer .category-1-item-wrapper .category-heading.notifications {
    background-color: transparent;
		text-align: right;
}
.notifications-words{
    text-align: right;
    color: white;
		margin-right: 10px;
}

.columns {
  columns: 3;
}

.iframe-wrapper iframe{
  width: 100%;
  height: 100%;
}



.feed-card .postType {
	margin-left: -63px !important;
    margin-top: 24px !important;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0px;
    color: rgba(26, 26, 26, 0.8);
}

.feed-card .field {
	margin-left: -63px !important;
    margin-top: 24px !important;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0px;
    color: rgba(26, 26, 26, 0.8);
}

.category-1-outer .category-1-item-wrapper .category-heading .notifications {
    background-color: none !important;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    color: transparent;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
    padding: 7px;
    z-index: 5;
		margin-left: 206px;
}

.menu .bg-color
{
	background: -webkit-linear-gradient(#f8f8f8,#b2b2b2);
	height: 100%;
	width: 100%;
}
.bg-image
{
	background-position: 50% 50%;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}


.badge-important
{
	background-color: #F10707 !important;
}

.card.post-detail
{
	border-top: none;
}

.ng-invalid {
    color: black;
}

.item.item-reminders
{
    color: #444;
    position: relative;
    z-index: 2;
		padding: 0;
    display: block;
    font-size: 16px;
}
.cal-day-weekend span[data-cal-date]
{
	color: #F10707 !important;
}
.multi-bg-outer.finish-loading {
    background-color: transparent;
}
#calendar .month .cal-day-today
{
	background-color: gray;
}

#calendar .week .cal-day-today span[data-cal-date]
{
	background-color: gray;
}

.modal-backdrop-bg
{
	background-color: gray !important;
}

.bg-lightgrey.request
{
	background: none;
}
.edit .item
{
	border-top: none;
}

.bar-positive {
    z-index: 2;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
	border-radius: 50px;
}

.match-float #floating-button {
	bottom: 20px;
    position: fixed;
    right: 20px;
		top: 79px;
    z-index: 9999;
    width: 56px;
    height: 56px;
    line-height: 56px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
    background-color: #F10707 !important;
    backface-visibility: hidden;
    padding: 0;
    border: none;
    border-radius: 50%;
}

.bar-subheader {
    z-index: 1;
    transition: top 0.25s ease;
}

.has-subheader {
    top: 44px !important;
    .scroll {
        padding-top: 44px;
    }
}

.tabs-super-top>.tabs{
	background-color: grey;
  top: 0 !important;
  bottom: initial !important;
  transition: .5s all linear !important
}

.has-super-tabs{
  top:48px !important;

}


.bar.bar-header,
.tabs.tabs-assertive{
   transition: .0001s all linear !important;
	 -webkit-transition: background-color .0001s all linear !important;
		-moz-transition: background-color .0001s all linear !important;
		-o-transition: background-color .0001s all linear !important;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
		height: 48px;
}

.tabs-top > .tabs, .tabs.tabs-top {
	transition: .0001s all linear !important;
	-webkit-transition: background-color .0001s all linear !important;
  -moz-transition: background-color .0001s all linear !important;
  -o-transition: background-color .0001s all linear !important;
}

.bar.bar-header.ng-hide,
.tabs.tabs-assertive.ng-hide{
  height: 0px !important;
}

.bb
{
	border-bottom: 1px solid #F10707;
}

.menu .list .item-avatar
{
	padding-left: 100px;
}

.menu .list > .item i
{
	font-size: 14px;
	padding-right: 8px;
}

.menu .list > .item.active
{
	border-left: 5px solid #F10707;
}


.menu .list > .item
{
	background-color: inherit;
	border: 0;
	color: black;
	padding: 5px 30px;
	font-size: 24px;
	text-decoration: none;
	border-left:5px solid transparent;
}

#menu .list .item:first-child
{
	margin-top: 80px;
}


#menu .list .icon
{
	font-size: 20px;
	padding-right: 8px;
	color: black;
}
#menu .list .c5
{
	background: white;
}

.menu-open .menu-content.menu-animated
{
	transform: translate3d(275px, 0px, 0px) !important;
}

#menu .list .c6
{
	background: white;
}

#menu
{
	background-color: white;
}


.modal-backdrop-bg
{
	background-color: none;
}

.balanced, a.balanced.profile
{
	color: green;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #fff;
    border-color: #fff;
}

.popup-buttons .button:last-child
{
	background: #4CAF50;
}

.light-bg
{
	background-color: gainsboro;
}
.teal.lighten-4
{
	background-color: transparent !important;
}

.cal-event-list .event.pull-left
{
	display: none;
}
#calendar .cal-slide-content li
{
	border-top: none;
	border-bottom: none;
}
.card.post-detail .item.comments .interact
{
	background: none;
}

#calendar .cal-slide-content
{
	display: none;
}

.card.post-detail .date
{
	top: -12px !important;
    left: 15px !important;
}

.balanced, a.balanced.comments

{
	color: #F10707;
}

.medium.popover
{
	height: 158px !important;
	border: none;
}

.item-icon-left {
    padding-left: 54px;
    border: none;
}

.item.item-checkbox {
	background-color: transparent !important;
}

.small .right.popover::after {
	display: none !important;
}

.balanced, a.balanced.likes

{
	color: #F10707;
}

.balanced, a.balanced.commits

{
	color: #F10707;
}

.bg-color.profile
{
	background: rgba(66, 86, 85, 0.46);
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.cont-photo.activities.dance
{
	background-image: url(img/dance.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 30vh;
	position: relative;
}

.popup-container.active .popup
{
	border-color: white;
}

.bg-color.dance
{
	background-image: url(.../img/dance_thing.png);
    background-repeat: no-repeat;
    right: -10vh;
	height: 130%;
    position: absolute;
    top: 2vh;
    width: 100%;

}
.bg-color.yoga
{
	background-repeat: no-repeat;
    right: -5vh;
    height: 130%;
    position: absolute;
    top: 2vh;
    width: 100%
}

.bg-color.swimming
{
    background-repeat: no-repeat;
    right: -7vh;
	height: 130%;
    position: absolute;
    top: 5vh;
    width: 100%;

}

#floating-menu .icon.menu-icon {
		background-color: #F10707 !important;
}

#floating-menu.active li {
	background-color: #F10707 !important;
}

#floating-menu.active .menu-open-color {
	background-color: #F10707 !important;
}

.signup-bar-clear .button .ion-ios-arrow-back {
	color: white;
}

.bt-grey.profile
{
	border-top: none;
	top: 62px;
}

h2.lead
{
	color: #444 !important;
}
.icon-circle, .icon-circle-large, .icon-circle-small{
  position: relative;
  display: inline-block;
  margin: -1px;
  /*padding: 16px;*/


  width: 45px; /* 60*/
	height: 45px;
  font-size:40px;

   -moz-border-radius:50%;
  -webkit-border-radius:50%;
	border-radius: 50%;



  border: 1px solid #ebebeb;

  background: rgb(0, 161, 225); /*#ececec;ebebeb*/
  color: #fff;

  text-align:center;
  /*vertical-align: middle;*/
}

.platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before
{
	border-radius: 15px;
}
.bar.footer-buttons
{
	background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(240,240,240,0)) !important;
	bottom: 8vh;
}

.checkbox input, .checkbox-icon

{
    width: 28px;
    height: 28px;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 50px;
}

.bar.footer-buttons.next
{
	background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(240,240,240,0)) !important;
}

.row.row-login
{
	color:#F10707;
	font-size: 18px;
	text-align: center;
}

.liked-red {
	display: inline-flex;
	color: #F10707;
	font-size: 18px;
	border: none;
	letter-spacing: 7px;
	line-height: 1;
	margin-left: 1em;
}

.unliked-black{
	display: inline-flex;
	color:black;
	font-size: 18px;
	border: none;
	letter-spacing: 7px;
	line-height: 1;
	margin-left: 1em;
}

.c2.menu:first-child
{
	margin-top: 80px;
}

.c2.menu
{
	background-color: inherit;
	border: 0;
	border-left: 5px solid transparent;
	color: white;
	margin: 9px 0;
	padding: 5px 30px;
	font-size: 14px;
}

.c2.menu i
{
	font-size: 20px;
}

.menu.styling:last-child
{
	margin-bottom: 0px;
}

.menu.styling
{
	position: relative;
	padding-top: 1px;
	padding-left: 0;
}
.card.post-detail.date
{
	position: absolute;
    top: -12px;
    left: 15px;
    padding: 5px 10px;
    background: aliceblue;
    opacity: .8;
    border: 1px solid #ccc;
}

.bg-color.football
{
    background-repeat: no-repeat;
    right: -5vh;
	height: 130%;
    position: absolute;
    top: 2vh;
    width: 100%;

}

.list .photos .row .col .item .cont-photo .img

{
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.text-medium.balanced.bb
{
	border-bottom: 2px solid #F10707
	color: #F10707;
}

.text-medium.balanced
{

	color: #F10707;

}

.content p{
	line-height:23px;
	margin-bottom:5px;
	color:#000
	}

.list_page .cat_item {
  height: 200px;
}

.cat_item:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #111111;
    opacity: 0.4;
}

.list_page .cat_item{
	height:200px;
}
.list_page .list_profil a{
	padding:0;
}

.detail_list span{
	color:#fff
}

.detail_list .num_view i {
	font-size: 18px;
	padding-right: 5px;
}

.list_page .cat_item{
	height:200px;
}

.detail_list p {
    color: #F10707 !important;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.detail_list span {
    color: #fff;
}

.like_img {
    float: right;
}
.detail_list span {
    color: #fff;
}

.button.button-balanced.button-outline
{
	border-color: #F10707;
    background: transparent;
    color: #F10707;
}


.button.button-balanced.button-outline.activated
{
	border-color: #F10707;
    background: transparent;
    color: #F10707;

}
